In [222]:
#import libraries
import pandas as pd
import numpy as np

In [223]:
# Name of the CSV file
#IDs to city names: 4975802 - Portland, OR; 4930956 - Boston, MA; 
bos_data = 'weather_data_BOS_2018.csv'
por_data = 'weather_data_POR_2018.csv'
bdata = pd.read_csv(bos_data)
pdata = pd.read_csv(por_data)
bdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1514764800,2018-01-01 00:00:00 +0000 UTC,4930956,NaN,NaN,NaN,259.609984,256.15,262.15,1022,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
1,1514768400,2018-01-01 01:00:00 +0000 UTC,4930956,NaN,NaN,NaN,258.769984,256.15,260.15,1022,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
2,1514772000,2018-01-01 02:00:00 +0000 UTC,4930956,NaN,NaN,NaN,258.310000,256.15,260.15,1022,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
3,1514775600,2018-01-01 03:00:00 +0000 UTC,4930956,NaN,NaN,NaN,257.769984,256.15,259.15,1022,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1514779200,2018-01-01 04:00:00 +0000 UTC,4930956,NaN,NaN,NaN,257.150000,255.15,259.15,1023,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n

In [224]:
pdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1514764800,2018-01-01 00:00:00 +0000 UTC,4975802,NaN,NaN,NaN,255.62,253.15,257.15,1019,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
1,1514768400,2018-01-01 01:00:00 +0000 UTC,4975802,NaN,NaN,NaN,254.26,250.15,256.15,1019,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
2,1514772000,2018-01-01 02:00:00 +0000 UTC,4975802,NaN,NaN,NaN,255.14,254.15,256.15,1020,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
3,1514775600,2018-01-01 03:00:00 +0000 UTC,4975802,NaN,NaN,NaN,254.14,253.15,255.15,1020,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1514779200,2018-01-01 04:00:00 +0000 UTC,4975802,NaN,NaN,NaN,253.73,252.15,255.15,1020,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n

In [225]:
def KelvintoFahr(temp_kelvin):
    converted_temp = (((273.15 - temp_kelvin) * 1.8) + 32)
    return converted_temp

In [226]:
for idx, row in pdata.iterrows():
    print('Index:', idx)
    print(row)
    break

Index: 0
dt                                        1514764800
dt_iso                 2018-01-01 00:00:00 +0000 UTC
city_id                                      4975802
city_name                                        NaN
lat                                              NaN
lon                                              NaN
temp                                          255.62
temp_min                                      253.15
temp_max                                      257.15
pressure                                        1019
sea_level                                        NaN
grnd_level                                       NaN
humidity                                          59
wind_speed                                         5
wind_deg                                         310
rain_1h                                          NaN
rain_3h                                          NaN
rain_24h                                         NaN
rain_today                                       NaN
snow_1h                                          NaN
snow_3h                                          NaN
snow_24h                                         NaN
snow_today                                       NaN
clouds_all                                         1
weather_id                                       800
weather_main                                   Clear
weather_description                     sky is clear
weather_icon                                     01n
Name: 0, dtype: object

In [227]:
col_name = 'Avg_Temp_F'
pdata[col_name] = None

for idx, row in pdata.iterrows():
  # Convert the Fahrenheit temperature of the row into Celsius
  farh = KelvintoFahr(row['temp'])
  # Add that value into 'Celsius' column using the index of the row
  pdata.loc[idx, col_name] = farh

pdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon,Avg_Temp_F
0,1514764800,2018-01-01 00:00:00 +0000 UTC,4975802,NaN,NaN,NaN,255.62,253.15,257.15,1019,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,63.554
1,1514768400,2018-01-01 01:00:00 +0000 UTC,4975802,NaN,NaN,NaN,254.26,250.15,256.15,1019,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,66.002
2,1514772000,2018-01-01 02:00:00 +0000 UTC,4975802,NaN,NaN,NaN,255.14,254.15,256.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,64.418
3,1514775600,2018-01-01 03:00:00 +0000 UTC,4975802,NaN,NaN,NaN,254.14,253.15,255.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,66.218
4,1514779200,2018-01-01 04:00:00 +0000 UTC,4975802,NaN,NaN,NaN,253.73,252.15,255.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,66.956

In [228]:
col_name = 'Avg_Temp_F'
bdata[col_name] = None

for idx, row in bdata.iterrows():
  # Convert the Fahrenheit temperature of the row into Celsius
  farh = KelvintoFahr(row['temp'])
  # Add that value into 'Celsius' column using the index of the row
  bdata.loc[idx, col_name] = farh

bdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon,Avg_Temp_F
0,1514764800,2018-01-01 00:00:00 +0000 UTC,4930956,NaN,NaN,NaN,259.609984,256.15,262.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,56.372
1,1514768400,2018-01-01 01:00:00 +0000 UTC,4930956,NaN,NaN,NaN,258.769984,256.15,260.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,57.884
2,1514772000,2018-01-01 02:00:00 +0000 UTC,4930956,NaN,NaN,NaN,258.310000,256.15,260.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,58.712
3,1514775600,2018-01-01 03:00:00 +0000 UTC,4930956,NaN,NaN,NaN,257.769984,256.15,259.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,59.684
4,1514779200,2018-01-01 04:00:00 +0000 UTC,4930956,NaN,NaN,NaN,257.150000,255.15,259.15,1023,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,60.8

In [229]:
#removed UTC timezone info from dt_iso column
bdata['dt_iso'] = bdata['dt_iso'].astype(str).str[:-9]
pdata['dt_iso'] = pdata['dt_iso'].astype(str).str[:-9]
pdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon,Avg_Temp_F
0,1514764800,2018-01-01 00:00:00,4975802,NaN,NaN,NaN,255.62,253.15,257.15,1019,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,63.554
1,1514768400,2018-01-01 01:00:00,4975802,NaN,NaN,NaN,254.26,250.15,256.15,1019,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,66.002
2,1514772000,2018-01-01 02:00:00,4975802,NaN,NaN,NaN,255.14,254.15,256.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,64.418
3,1514775600,2018-01-01 03:00:00,4975802,NaN,NaN,NaN,254.14,253.15,255.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,66.218
4,1514779200,2018-01-01 04:00:00,4975802,NaN,NaN,NaN,253.73,252.15,255.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,66.956

In [230]:
#There are 8760 hours in a year, so there should be around that many rows.
pdata.count

<bound method DataFrame.count of                dt                dt_iso  city_id  city_name  lat  lon  \
0      1514764800  2018-01-01 00:00:00   4975802        NaN  NaN  NaN
1      1514768400  2018-01-01 01:00:00   4975802        NaN  NaN  NaN
2      1514772000  2018-01-01 02:00:00   4975802        NaN  NaN  NaN
3      1514775600  2018-01-01 03:00:00   4975802        NaN  NaN  NaN
4      1514779200  2018-01-01 04:00:00   4975802        NaN  NaN  NaN
5      1514782800  2018-01-01 05:00:00   4975802        NaN  NaN  NaN
6      1514786400  2018-01-01 06:00:00   4975802        NaN  NaN  NaN
7      1514790000  2018-01-01 07:00:00   4975802        NaN  NaN  NaN
8      1514793600  2018-01-01 08:00:00   4975802        NaN  NaN  NaN
9      1514797200  2018-01-01 09:00:00   4975802        NaN  NaN  NaN
10     1514800800  2018-01-01 10:00:00   4975802        NaN  NaN  NaN
11     1514804400  2018-01-01 11:00:00   4975802        NaN  NaN  NaN
12     1514808000  2018-01-01 12:00:00   4975802        NaN  NaN  NaN
13     1514811600  2018-01-01 13:00:00   4975802        NaN  NaN  NaN
14     1514815200  2018-01-01 14:00:00   4975802        NaN  NaN  NaN
15     1514818800  2018-01-01 15:00:00   4975802        NaN  NaN  NaN
16     1514822400  2018-01-01 16:00:00   4975802        NaN  NaN  NaN
17     1514826000  2018-01-01 17:00:00   4975802        NaN  NaN  NaN
18     1514829600  2018-01-01 18:00:00   4975802        NaN  NaN  NaN
19     1514833200  2018-01-01 19:00:00   4975802        NaN  NaN  NaN
20     1514836800  2018-01-01 20:00:00   4975802        NaN  NaN  NaN
21     1514840400  2018-01-01 21:00:00   4975802        NaN  NaN  NaN
22     1514844000  2018-01-01 22:00:00   4975802        NaN  NaN  NaN
23     1514847600  2018-01-01 23:00:00   4975802        NaN  NaN  NaN
24     1514851200  2018-01-02 00:00:00   4975802        NaN  NaN  NaN
25     1514854800  2018-01-02 01:00:00   4975802        NaN  NaN  NaN
26     1514858400  2018-01-02 02:00:00   4975802        NaN  NaN  NaN
27     1514862000  2018-01-02 03:00:00   4975802        NaN  NaN  NaN
28     1514865600  2018-01-02 04:00:00   4975802        NaN  NaN  NaN
29     1514869200  2018-01-02 05:00:00   4975802        NaN  NaN  NaN
...           ...                   ...      ...        ...  ...  ...
10712  1546110000  2018-12-29 19:00:00   4975802        NaN  NaN  NaN
10713  1546113600  2018-12-29 20:00:00   4975802        NaN  NaN  NaN
10714  1546117200  2018-12-29 21:00:00   4975802        NaN  NaN  NaN
10715  1546120800  2018-12-29 22:00:00   4975802        NaN  NaN  NaN
10716  1546124400  2018-12-29 23:00:00   4975802        NaN  NaN  NaN
10717  1546128000  2018-12-30 00:00:00   4975802        NaN  NaN  NaN
10718  1546131600  2018-12-30 01:00:00   4975802        NaN  NaN  NaN
10719  1546135200  2018-12-30 02:00:00   4975802        NaN  NaN  NaN
10720  1546138800  2018-12-30 03:00:00   4975802        NaN  NaN  NaN
10721  1546142400  2018-12-30 04:00:00   4975802        NaN  NaN  NaN
10722  1546146000  2018-12-30 05:00:00   4975802        NaN  NaN  NaN
10723  1546149600  2018-12-30 06:00:00   4975802        NaN  NaN  NaN
10724  1546153200  2018-12-30 07:00:00   4975802        NaN  NaN  NaN
10725  1546156800  2018-12-30 08:00:00   4975802        NaN  NaN  NaN
10726  1546160400  2018-12-30 09:00:00   4975802        NaN  NaN  NaN
10727  1546164000  2018-12-30 10:00:00   4975802        NaN  NaN  NaN
10728  1546167600  2018-12-30 11:00:00   4975802        NaN  NaN  NaN
10729  1546171200  2018-12-30 12:00:00   4975802        NaN  NaN  NaN
10730  1546174800  2018-12-30 13:00:00   4975802        NaN  NaN  NaN
10731  1546178400  2018-12-30 14:00:00   4975802        NaN  NaN  NaN
10732  1546182000  2018-12-30 15:00:00   4975802        NaN  NaN  NaN
10733  1546185600  2018-12-30 16:00:00   4975802        NaN  NaN  NaN
10734  1546189200  2018-12-30 17:00:00   4975802        NaN  NaN  NaN
10735  1546192800  2018-12-30 18:00:00   4975802        NaN  NaN  NaN
10736  1546196400  2018-12-30 19:00:00   4975802        NaN  NaN  NaN
10737  1546200000  2018-12-30 20:00:00   4975802        NaN  NaN  NaN
10738  1546203600  2018-12-30 21:00:00   4975802        NaN  NaN  NaN
10739  1546207200  2018-12-30 22:00:00   4975802        NaN  NaN  NaN
10740  1546210800  2018-12-30 23:00:00   4975802        NaN  NaN  NaN
10741  1546214400  2018-12-31 00:00:00   4975802        NaN  NaN  NaN

             temp    temp_min  temp_max  pressure  ...  snow_1h  snow_3h  \
0      255.620000  253.150000    257.15      1019  ...      NaN      NaN
1      254.260000  250.150000    256.15      1019  ...      NaN      NaN
2      255.140000  254.150000    256.15      1020  ...      NaN      NaN
3      254.140000  253.150000    255.15      1020  ...      NaN      NaN
4      253.730000  252.150000    255.15      1020  ...      NaN      NaN
5      253.530000  252.150000    254.15      1020  ...      NaN      NaN
6      252.110000  250.150000    253.15      1020  ...      NaN      NaN
7      249.040000  242.150000    252.15      1020  ...      NaN      NaN
8      248.720000  243.150000    252.15      1020  ...      NaN      NaN
9      250.100000  249.150000    252.15      1020  ...      NaN      NaN
10     249.530000  247.150000    252.15      1020  ...      NaN      NaN
11     249.510000  247.150000    251.15      1020  ...      NaN      NaN
12     246.200000  240.150000    251.15      1021  ...      NaN      NaN
13     244.840000  239.150000    251.15      1021  ...      NaN      NaN
14     246.640000  240.150000    255.15      1021  ...      NaN      NaN
15     251.720000  245.150000    257.15      1021  ...      NaN      NaN
16     255.580000  250.150000    259.15      1020  ...      NaN      NaN
17     257.280000  255.150000    260.15      1020  ...      NaN      NaN
18     258.959984  258.150000    259.15      1019  ...      NaN      NaN
19     259.650000  258.150000    261.15      1019  ...      NaN      NaN
20     259.829984  259.150000    261.15      1020  ...      NaN      NaN
21     259.500000  258.150000    260.15      1021  ...      NaN      NaN
22     258.160000  257.150000    259.15      1021  ...      NaN      NaN
23     256.799984  256.150000    258.15      1022  ...      NaN      NaN
24     255.980000  255.150000    257.15      1022  ...      NaN      NaN
25     255.470000  254.150000    256.15      1022  ...      NaN      NaN
26     254.920000  254.150000    256.15      1022  ...      NaN      NaN
27     254.340000  252.150000    255.15      1022  ...      NaN      NaN
28     253.750000  252.150000    255.15      1022  ...      NaN      NaN
29     251.400000  245.150000    255.15      1022  ...      NaN      NaN
...           ...         ...       ...       ...  ...      ...      ...
10712  280.740000  278.750000    282.55      1009  ...      NaN      NaN
10713  279.550000  277.550000    281.45      1010  ...      NaN      NaN
10714  278.330000  275.950000    280.35      1012  ...      NaN      NaN
10715  276.650000  274.850000    278.15      1013  ...      NaN      NaN
10716  275.330000  273.750000    276.45      1015  ...      NaN      NaN
10717  273.950000  272.550000    275.35      1016  ...      NaN      NaN
10718  272.770000  272.050000    273.75      1018  ...      NaN      NaN
10719  271.090000  270.350000    272.05      1018  ...      NaN      NaN
10720  269.990000  269.250000    270.95      1019  ...      NaN      NaN
10721  268.890000  267.550000    269.85      1020  ...      NaN      NaN
10722  268.020000  266.450000    269.25      1020  ...      NaN      NaN
10723  267.370000  265.950000    268.15      1021  ...      NaN      NaN
10724  267.010000  266.450000    267.55      1021  ...      NaN      NaN
10725  266.110000  265.350000    267.05      1021  ...      NaN      NaN
10726  265.890000  264.850000    267.05      1022  ...      NaN      NaN
10727  265.990000  264.850000    267.05      1021  ...      NaN      NaN
10728  265.480000  262.049984    267.05      1023  ...      NaN      NaN
10729  265.440000  262.550000    267.55      1023  ...      NaN      NaN
10730  265.720000  263.150000    267.55      1024  ...      NaN      NaN
10731  266.180000  264.250000    268.15      1024  ...      NaN      NaN
10732  266.480000  264.850000    268.75      1024  ...      NaN      NaN
10733  267.490000  265.350000    270.35      1023  ...      NaN      NaN
10734  268.480000  266.450000    271.45      1022  ...      NaN      NaN
10735  269.240000  267.050000    272.05      1022  ...      NaN      NaN
10736  269.960000  268.150000    272.05      1022  ...      NaN      NaN
10737  270.530000  269.250000    272.05      1023  ...      NaN      NaN
10738  270.300000  269.250000    270.95      1023  ...      NaN      NaN
10739  269.630000  268.750000    270.35      1024  ...      NaN      NaN
10740  268.000000  266.450000    269.25      1024  ...      NaN      NaN
10741  266.760000  264.850000    269.25      1024  ...      NaN      NaN

       snow_24h  snow_today  clouds_all  weather_id  weather_main  \
0           NaN         NaN           1         800         Clear
1           NaN         NaN           1         800         Clear
2           NaN         NaN           1         800         Clear
3           NaN         NaN           1         800         Clear
4           NaN         NaN           1         800         Clear
5           NaN         NaN           1         800         Clear
6           NaN         NaN           1         800         Clear
7           NaN         NaN           1         800         Clear
8           NaN         NaN           1         800         Clear
9           NaN         NaN           1         800         Clear
10          NaN         NaN           1         800         Clear
11          NaN         NaN           1         800         Clear
12          NaN         NaN           1         800         Clear
13          NaN         NaN           1         800         Clear
14          NaN         NaN           1         800         Clear
15          NaN         NaN           1         800         Clear
16          NaN         NaN           1         800         Clear
17          NaN         NaN           1         800         Clear
18          NaN         NaN           1         800         Clear
19          NaN         NaN           1         800         Clear
20          NaN         NaN           1         800         Clear
21          NaN         NaN           1         800         Clear
22          NaN         NaN           1         800         Clear
23          NaN         NaN           1         800         Clear
24          NaN         NaN           1         800         Clear
25          NaN         NaN           1         800         Clear
26          NaN         NaN           1         800         Clear
27          NaN         NaN           1         800         Clear
28          NaN         NaN           1         800         Clear
29          NaN         NaN           1         800         Clear
...         ...         ...         ...         ...           ...
10712       NaN         NaN          40         802        Clouds
10713       NaN         NaN          75         803        Clouds
10714       NaN         NaN          90         804        Clouds
10715       NaN         NaN          90         804        Clouds
10716       NaN         NaN          90         804        Clouds
10717       NaN         NaN          90         804        Clouds
10718       NaN         NaN          20         801        Clouds
10719       NaN         NaN           1         800         Clear
10720       NaN         NaN           1         800         Clear
10721       NaN         NaN           1         800         Clear
10722       NaN         NaN           1         800         Clear
10723       NaN         NaN           1         800         Clear
10724       NaN         NaN           1         800         Clear
10725       NaN         NaN           1         800         Clear
10726       NaN         NaN           1         800         Clear
10727       NaN         NaN           1         800         Clear
10728       NaN         NaN          20         801        Clouds
10729       NaN         NaN          40         802        Clouds
10730       NaN         NaN          75         803        Clouds
10731       NaN         NaN          90         804        Clouds
10732       NaN         NaN          90         804        Clouds
10733       NaN         NaN          90         804        Clouds
10734       NaN         NaN          20         801        Clouds
10735       NaN         NaN          20         801        Clouds
10736       NaN         NaN           1         800         Clear
10737       NaN         NaN           1         800         Clear
10738       NaN         NaN           1         800         Clear
10739       NaN         NaN           1         800         Clear
10740       NaN         NaN           1         800         Clear
10741       NaN         NaN          40         802        Clouds

       weather_description  weather_icon  Avg_Temp_F
0             sky is clear           01n      63.554
1             sky is clear           01n      66.002
2             sky is clear           01n      64.418
3             sky is clear           01n      66.218
4             sky is clear           01n      66.956
5             sky is clear           01n      67.316
6             sky is clear           01n      69.872
7             sky is clear           01n      75.398
8             sky is clear           01n      75.974
9             sky is clear           01n       73.49
10            sky is clear           01n      74.516
11            sky is clear           01n      74.552
12            sky is clear           01n       80.51
13            sky is clear           01d      82.958
14            sky is clear           01d      79.718
15            sky is clear           01d      70.574
16            sky is clear           01d      63.626
17            sky is clear           01d      60.566
18            sky is clear           01d      57.542
19            sky is clear           01d        56.3
20            sky is clear           01d      55.976
21            sky is clear           01d       56.57
22            sky is clear           01n      58.982
23            sky is clear           01n       61.43
24            sky is clear           01n      62.906
25            sky is clear           01n      63.824
26            sky is clear           01n      64.814
27            sky is clear           01n      65.858
28            sky is clear           01n       66.92
29            sky is clear           01n       71.15
...                    ...           ...         ...
10712     scattered clouds           03d      18.338
10713        broken clouds           04d       20.48
10714      overcast clouds           04d      22.676
10715      overcast clouds           04n        25.7
10716      overcast clouds           04n      28.076
10717      overcast clouds           04n       30.56
10718           few clouds           02n      32.684
10719         sky is clear           01n      35.708
10720         sky is clear           01n      37.688
10721         sky is clear           01n      39.668
10722         sky is clear           01n      41.234
10723         sky is clear           01n      42.404
10724         sky is clear           01n      43.052
10725         sky is clear           01n      44.672
10726         sky is clear           01n      45.068
10727         sky is clear           01n      44.888
10728           few clouds           02n      45.806
10729     scattered clouds           03n      45.878
10730        broken clouds           04d      45.374
10731      overcast clouds           04d      44.546
10732      overcast clouds           04d      44.006
10733      overcast clouds           04d      42.188
10734           few clouds           02d      40.406
10735           few clouds           02d      39.038
10736         sky is clear           01d      37.742
10737         sky is clear           01d      36.716
10738         sky is clear           01d       37.13
10739         sky is clear           01n      38.336
10740         sky is clear           01n       41.27
10741     scattered clouds           03n      43.502

[10742 rows x 29 columns]>

In [231]:
#There are 8760 hours in a year, so there should be around that many rows.
bdata.count

<bound method DataFrame.count of                dt                dt_iso  city_id  city_name  lat  lon  \
0      1514764800  2018-01-01 00:00:00   4930956        NaN  NaN  NaN
1      1514768400  2018-01-01 01:00:00   4930956        NaN  NaN  NaN
2      1514772000  2018-01-01 02:00:00   4930956        NaN  NaN  NaN
3      1514775600  2018-01-01 03:00:00   4930956        NaN  NaN  NaN
4      1514779200  2018-01-01 04:00:00   4930956        NaN  NaN  NaN
5      1514782800  2018-01-01 05:00:00   4930956        NaN  NaN  NaN
6      1514786400  2018-01-01 06:00:00   4930956        NaN  NaN  NaN
7      1514790000  2018-01-01 07:00:00   4930956        NaN  NaN  NaN
8      1514793600  2018-01-01 08:00:00   4930956        NaN  NaN  NaN
9      1514797200  2018-01-01 09:00:00   4930956        NaN  NaN  NaN
10     1514800800  2018-01-01 10:00:00   4930956        NaN  NaN  NaN
11     1514804400  2018-01-01 11:00:00   4930956        NaN  NaN  NaN
12     1514808000  2018-01-01 12:00:00   4930956        NaN  NaN  NaN
13     1514811600  2018-01-01 13:00:00   4930956        NaN  NaN  NaN
14     1514815200  2018-01-01 14:00:00   4930956        NaN  NaN  NaN
15     1514818800  2018-01-01 15:00:00   4930956        NaN  NaN  NaN
16     1514822400  2018-01-01 16:00:00   4930956        NaN  NaN  NaN
17     1514826000  2018-01-01 17:00:00   4930956        NaN  NaN  NaN
18     1514829600  2018-01-01 18:00:00   4930956        NaN  NaN  NaN
19     1514833200  2018-01-01 19:00:00   4930956        NaN  NaN  NaN
20     1514836800  2018-01-01 20:00:00   4930956        NaN  NaN  NaN
21     1514840400  2018-01-01 21:00:00   4930956        NaN  NaN  NaN
22     1514844000  2018-01-01 22:00:00   4930956        NaN  NaN  NaN
23     1514847600  2018-01-01 23:00:00   4930956        NaN  NaN  NaN
24     1514851200  2018-01-02 00:00:00   4930956        NaN  NaN  NaN
25     1514854800  2018-01-02 01:00:00   4930956        NaN  NaN  NaN
26     1514858400  2018-01-02 02:00:00   4930956        NaN  NaN  NaN
27     1514862000  2018-01-02 03:00:00   4930956        NaN  NaN  NaN
28     1514865600  2018-01-02 04:00:00   4930956        NaN  NaN  NaN
29     1514869200  2018-01-02 05:00:00   4930956        NaN  NaN  NaN
...           ...                   ...      ...        ...  ...  ...
11525  1546110000  2018-12-29 19:00:00   4930956        NaN  NaN  NaN
11526  1546113600  2018-12-29 20:00:00   4930956        NaN  NaN  NaN
11527  1546117200  2018-12-29 21:00:00   4930956        NaN  NaN  NaN
11528  1546120800  2018-12-29 22:00:00   4930956        NaN  NaN  NaN
11529  1546124400  2018-12-29 23:00:00   4930956        NaN  NaN  NaN
11530  1546128000  2018-12-30 00:00:00   4930956        NaN  NaN  NaN
11531  1546131600  2018-12-30 01:00:00   4930956        NaN  NaN  NaN
11532  1546135200  2018-12-30 02:00:00   4930956        NaN  NaN  NaN
11533  1546138800  2018-12-30 03:00:00   4930956        NaN  NaN  NaN
11534  1546142400  2018-12-30 04:00:00   4930956        NaN  NaN  NaN
11535  1546146000  2018-12-30 05:00:00   4930956        NaN  NaN  NaN
11536  1546149600  2018-12-30 06:00:00   4930956        NaN  NaN  NaN
11537  1546153200  2018-12-30 07:00:00   4930956        NaN  NaN  NaN
11538  1546156800  2018-12-30 08:00:00   4930956        NaN  NaN  NaN
11539  1546160400  2018-12-30 09:00:00   4930956        NaN  NaN  NaN
11540  1546164000  2018-12-30 10:00:00   4930956        NaN  NaN  NaN
11541  1546167600  2018-12-30 11:00:00   4930956        NaN  NaN  NaN
11542  1546171200  2018-12-30 12:00:00   4930956        NaN  NaN  NaN
11543  1546174800  2018-12-30 13:00:00   4930956        NaN  NaN  NaN
11544  1546178400  2018-12-30 14:00:00   4930956        NaN  NaN  NaN
11545  1546182000  2018-12-30 15:00:00   4930956        NaN  NaN  NaN
11546  1546185600  2018-12-30 16:00:00   4930956        NaN  NaN  NaN
11547  1546189200  2018-12-30 17:00:00   4930956        NaN  NaN  NaN
11548  1546192800  2018-12-30 18:00:00   4930956        NaN  NaN  NaN
11549  1546196400  2018-12-30 19:00:00   4930956        NaN  NaN  NaN
11550  1546200000  2018-12-30 20:00:00   4930956        NaN  NaN  NaN
11551  1546203600  2018-12-30 21:00:00   4930956        NaN  NaN  NaN
11552  1546207200  2018-12-30 22:00:00   4930956        NaN  NaN  NaN
11553  1546210800  2018-12-30 23:00:00   4930956        NaN  NaN  NaN
11554  1546214400  2018-12-31 00:00:00   4930956        NaN  NaN  NaN

             temp  temp_min  temp_max  pressure  ...  snow_1h  snow_3h  \
0      259.609984    256.15    262.15      1022  ...      NaN      NaN
1      258.769984    256.15    260.15      1022  ...      NaN      NaN
2      258.310000    256.15    260.15      1022  ...      NaN      NaN
3      257.769984    256.15    259.15      1022  ...      NaN      NaN
4      257.150000    255.15    259.15      1023  ...      NaN      NaN
5      256.850000    255.15    258.15      1023  ...      NaN      NaN
6      256.230016    254.15    258.15      1023  ...      NaN      NaN
7      255.770000    254.15    257.15      1023  ...      NaN      NaN
8      255.530000    254.15    257.15      1023  ...      NaN      NaN
9      255.230000    253.15    257.15      1023  ...      NaN      NaN
10     255.080000    253.15    256.15      1023  ...      NaN      NaN
11     255.070000    253.15    256.15      1023  ...      NaN      NaN
12     255.150000    253.15    256.15      1023  ...      NaN      NaN
13     255.240000    254.15    256.15      1024  ...      NaN      NaN
14     255.650000    254.15    257.15      1024  ...      NaN      NaN
15     256.230016    254.15    258.15      1024  ...      NaN      NaN
16     257.900000    255.15    260.15      1023  ...      NaN      NaN
17     259.640016    257.15    261.15      1023  ...      NaN      NaN
18     260.799984    257.15    262.15      1022  ...      NaN      NaN
19     261.560000    259.15    263.15      1022  ...      NaN      NaN
20     261.980016    259.15    263.15      1023  ...      NaN      NaN
21     261.829984    260.15    263.15      1023  ...      NaN      NaN
22     261.070000    259.15    262.15      1024  ...      NaN      NaN
23     260.239984    257.15    262.15      1025  ...      NaN      NaN
24     259.390016    256.15    261.15      1025  ...      NaN      NaN
25     258.620000    256.15    260.15      1025  ...      NaN      NaN
26     258.150000    256.15    260.15      1025  ...      NaN      NaN
27     257.570000    254.15    260.15      1025  ...      NaN      NaN
28     255.860000    251.15    259.15      1025  ...      NaN      NaN
29     255.540000    251.15    259.15      1024  ...      NaN      NaN
...           ...       ...       ...       ...  ...      ...      ...
11525  282.380000    279.85    283.75      1012  ...      NaN      NaN
11526  282.160000    279.85    283.15      1013  ...      NaN      NaN
11527  281.450000    281.45    281.45      1013  ...      NaN      NaN
11528  280.350000    280.35    280.35      1015  ...      NaN      NaN
11529  278.820000    276.45    279.85      1016  ...      NaN      NaN
11530  278.180000    275.35    279.25      1017  ...      NaN      NaN
11531  277.250000    274.85    279.25      1018  ...      NaN      NaN
11532  276.820000    274.85    278.15      1019  ...      NaN      NaN
11533  275.490000    273.75    276.45      1019  ...      NaN      NaN
11534  274.060000    272.05    275.95      1020  ...      NaN      NaN
11535  272.930000    271.45    274.85      1021  ...      NaN      NaN
11536  271.930000    270.35    273.75      1021  ...      NaN      NaN
11537  270.690000    269.25    272.55      1021  ...      NaN      NaN
11538  270.060000    268.75    272.05      1022  ...      NaN      NaN
11539  269.700000    268.75    271.45      1022  ...      NaN      NaN
11540  269.700000    268.75    271.45      1022  ...      NaN      NaN
11541  269.390000    268.15    270.95      1023  ...      NaN      NaN
11542  269.270000    267.55    270.95      1023  ...      NaN      NaN
11543  269.580000    268.15    270.95      1024  ...      NaN      NaN
11544  269.810000    268.15    271.45      1024  ...      NaN      NaN
11545  270.680000    269.25    272.05      1024  ...      NaN      NaN
11546  271.690000    269.85    273.15      1023  ...      NaN      NaN
11547  272.700000    270.95    274.25      1022  ...      NaN      NaN
11548  273.140000    272.05    274.85      1022  ...      NaN      NaN
11549  274.060000    272.55    275.95      1022  ...      NaN      NaN
11550  274.250000    273.15    276.45      1022  ...      NaN      NaN
11551  273.740000    272.05    275.35      1023  ...      NaN      NaN
11552  272.510000    270.95    274.25      1024  ...      NaN      NaN
11553  271.600000    270.35    273.15      1024  ...      NaN      NaN
11554  270.820000    269.85    273.15      1025  ...      NaN      NaN

       snow_24h  snow_today  clouds_all  weather_id  weather_main  \
0           NaN         NaN           1         800         Clear
1           NaN         NaN           1         800         Clear
2           NaN         NaN           1         800         Clear
3           NaN         NaN           1         800         Clear
4           NaN         NaN           1         800         Clear
5           NaN         NaN           1         800         Clear
6           NaN         NaN           1         800         Clear
7           NaN         NaN           1         800         Clear
8           NaN         NaN           1         800         Clear
9           NaN         NaN           1         800         Clear
10          NaN         NaN           1         800         Clear
11          NaN         NaN           1         800         Clear
12          NaN         NaN           1         800         Clear
13          NaN         NaN           1         800         Clear
14          NaN         NaN           1         800         Clear
15          NaN         NaN           1         800         Clear
16          NaN         NaN           1         800         Clear
17          NaN         NaN           1         800         Clear
18          NaN         NaN           1         800         Clear
19          NaN         NaN           1         800         Clear
20          NaN         NaN           1         800         Clear
21          NaN         NaN           1         800         Clear
22          NaN         NaN           1         800         Clear
23          NaN         NaN           1         800         Clear
24          NaN         NaN           1         800         Clear
25          NaN         NaN           1         800         Clear
26          NaN         NaN           1         800         Clear
27          NaN         NaN           1         800         Clear
28          NaN         NaN           1         800         Clear
29          NaN         NaN           1         800         Clear
...         ...         ...         ...         ...           ...
11525       NaN         NaN          75         803        Clouds
11526       NaN         NaN          75         803        Clouds
11527       NaN         NaN          40         802        Clouds
11528       NaN         NaN          75         803        Clouds
11529       NaN         NaN          75         803        Clouds
11530       NaN         NaN          20         801        Clouds
11531       NaN         NaN          75         803        Clouds
11532       NaN         NaN          75         803        Clouds
11533       NaN         NaN          20         801        Clouds
11534       NaN         NaN          20         801        Clouds
11535       NaN         NaN          40         802        Clouds
11536       NaN         NaN          20         801        Clouds
11537       NaN         NaN           1         800         Clear
11538       NaN         NaN          75         803        Clouds
11539       NaN         NaN          90         804        Clouds
11540       NaN         NaN          90         804        Clouds
11541       NaN         NaN          90         804        Clouds
11542       NaN         NaN          75         803        Clouds
11543       NaN         NaN          90         804        Clouds
11544       NaN         NaN          90         804        Clouds
11545       NaN         NaN          75         803        Clouds
11546       NaN         NaN          40         802        Clouds
11547       NaN         NaN          40         802        Clouds
11548       NaN         NaN          20         801        Clouds
11549       NaN         NaN          20         801        Clouds
11550       NaN         NaN          20         801        Clouds
11551       NaN         NaN          20         801        Clouds
11552       NaN         NaN          20         801        Clouds
11553       NaN         NaN           1         800         Clear
11554       NaN         NaN           1         800         Clear

       weather_description  weather_icon  Avg_Temp_F
0             sky is clear           01n      56.372
1             sky is clear           01n      57.884
2             sky is clear           01n      58.712
3             sky is clear           01n      59.684
4             sky is clear           01n        60.8
5             sky is clear           01n       61.34
6             sky is clear           01n      62.456
7             sky is clear           01n      63.284
8             sky is clear           01n      63.716
9             sky is clear           01n      64.256
10            sky is clear           01n      64.526
11            sky is clear           01n      64.544
12            sky is clear           01n        64.4
13            sky is clear           01d      64.238
14            sky is clear           01d        63.5
15            sky is clear           01d      62.456
16            sky is clear           01d       59.45
17            sky is clear           01d      56.318
18            sky is clear           01d       54.23
19            sky is clear           01d      52.862
20            sky is clear           01d      52.106
21            sky is clear           01d      52.376
22            sky is clear           01n      53.744
23            sky is clear           01n      55.238
24            sky is clear           01n      56.768
25            sky is clear           01n      58.154
26            sky is clear           01n          59
27            sky is clear           01n      60.044
28            sky is clear           01n      63.122
29            sky is clear           01n      63.698
...                    ...           ...         ...
11525        broken clouds           04d      15.386
11526        broken clouds           04d      15.782
11527     scattered clouds           03d       17.06
11528        broken clouds           04n       19.04
11529        broken clouds           04n      21.794
11530           few clouds           02n      22.946
11531        broken clouds           04n       24.62
11532        broken clouds           04n      25.394
11533           few clouds           02n      27.788
11534           few clouds           02n      30.362
11535     scattered clouds           03n      32.396
11536           few clouds           02n      34.196
11537         sky is clear           01n      36.428
11538        broken clouds           04n      37.562
11539      overcast clouds           04n       38.21
11540      overcast clouds           04n       38.21
11541      overcast clouds           04n      38.768
11542        broken clouds           04n      38.984
11543      overcast clouds           04d      38.426
11544      overcast clouds           04d      38.012
11545        broken clouds           04d      36.446
11546     scattered clouds           03d      34.628
11547     scattered clouds           03d       32.81
11548           few clouds           02d      32.018
11549           few clouds           02d      30.362
11550           few clouds           02d       30.02
11551           few clouds           02d      30.938
11552           few clouds           02n      33.152
11553         sky is clear           01n       34.79
11554         sky is clear           01n      36.194

[11555 rows x 29 columns]>

In [232]:
#removing duplicates from boston data sorting on ID and looking for unique data/time values in dt_iso
bdata = bdata.sort_values('city_id', ascending=False)
bdata = bdata.drop_duplicates(subset='dt_iso', keep='first')
#removing duplicates from portland
pdata = pdata.sort_values('city_id', ascending=False)
pdata = pdata.drop_duplicates(subset='dt_iso', keep='first')
pdata.count

<bound method DataFrame.count of                dt                dt_iso  city_id  city_name  lat  lon    temp  \
0      1514764800  2018-01-01 00:00:00   4975802        NaN  NaN  NaN  255.62
7155   1535976000  2018-09-03 12:00:00   4975802        NaN  NaN  NaN  293.04
7157   1535983200  2018-09-03 14:00:00   4975802        NaN  NaN  NaN  297.50
7158   1535986800  2018-09-03 15:00:00   4975802        NaN  NaN  NaN  299.71
7159   1535990400  2018-09-03 16:00:00   4975802        NaN  NaN  NaN  302.11
7160   1535994000  2018-09-03 17:00:00   4975802        NaN  NaN  NaN  303.30
7161   1535997600  2018-09-03 18:00:00   4975802        NaN  NaN  NaN  304.49
7162   1536001200  2018-09-03 19:00:00   4975802        NaN  NaN  NaN  304.79
7163   1536004800  2018-09-03 20:00:00   4975802        NaN  NaN  NaN  304.85
7164   1536008400  2018-09-03 21:00:00   4975802        NaN  NaN  NaN  304.21
7165   1536012000  2018-09-03 22:00:00   4975802        NaN  NaN  NaN  304.28
7166   1536015600  2018-09-03 23:00:00   4975802        NaN  NaN  NaN  302.87
7167   1536019200  2018-09-04 00:00:00   4975802        NaN  NaN  NaN  300.05
7168   1536022800  2018-09-04 01:00:00   4975802        NaN  NaN  NaN  298.88
7169   1536026400  2018-09-04 02:00:00   4975802        NaN  NaN  NaN  297.87
7170   1536030000  2018-09-04 03:00:00   4975802        NaN  NaN  NaN  297.21
7171   1536033600  2018-09-04 04:00:00   4975802        NaN  NaN  NaN  297.00
7172   1536037200  2018-09-04 05:00:00   4975802        NaN  NaN  NaN  297.38
7173   1536040800  2018-09-04 06:00:00   4975802        NaN  NaN  NaN  296.43
7156   1535979600  2018-09-03 13:00:00   4975802        NaN  NaN  NaN  295.20
7154   1535972400  2018-09-03 11:00:00   4975802        NaN  NaN  NaN  292.60
7175   1536048000  2018-09-04 08:00:00   4975802        NaN  NaN  NaN  294.46
7153   1535968800  2018-09-03 10:00:00   4975802        NaN  NaN  NaN  292.51
7136   1535911200  2018-09-02 18:00:00   4975802        NaN  NaN  NaN  298.43
7137   1535914800  2018-09-02 19:00:00   4975802        NaN  NaN  NaN  299.12
7138   1535918400  2018-09-02 20:00:00   4975802        NaN  NaN  NaN  299.07
7139   1535922000  2018-09-02 21:00:00   4975802        NaN  NaN  NaN  298.47
7140   1535925600  2018-09-02 22:00:00   4975802        NaN  NaN  NaN  297.26
7141   1535929200  2018-09-02 23:00:00   4975802        NaN  NaN  NaN  295.81
7142   1535932800  2018-09-03 00:00:00   4975802        NaN  NaN  NaN  295.23
...           ...                   ...      ...        ...  ...  ...     ...
3543   1524816000  2018-04-27 08:00:00   4975802        NaN  NaN  NaN  278.99
3565   1524884400  2018-04-28 03:00:00   4975802        NaN  NaN  NaN  281.15
3567   1524888000  2018-04-28 04:00:00   4975802        NaN  NaN  NaN  281.15
3589   1524931200  2018-04-28 16:00:00   4975802        NaN  NaN  NaN  286.54
3590   1524934800  2018-04-28 17:00:00   4975802        NaN  NaN  NaN  287.14
3591   1524938400  2018-04-28 18:00:00   4975802        NaN  NaN  NaN  289.19
3592   1524942000  2018-04-28 19:00:00   4975802        NaN  NaN  NaN  289.70
3593   1524945600  2018-04-28 20:00:00   4975802        NaN  NaN  NaN  290.67
3594   1524949200  2018-04-28 21:00:00   4975802        NaN  NaN  NaN  290.01
3595   1524952800  2018-04-28 22:00:00   4975802        NaN  NaN  NaN  289.36
3596   1524956400  2018-04-28 23:00:00   4975802        NaN  NaN  NaN  288.02
3597   1524960000  2018-04-29 00:00:00   4975802        NaN  NaN  NaN  285.78
3598   1524963600  2018-04-29 01:00:00   4975802        NaN  NaN  NaN  284.25
3599   1524967200  2018-04-29 02:00:00   4975802        NaN  NaN  NaN  282.88
3600   1524970800  2018-04-29 03:00:00   4975802        NaN  NaN  NaN  281.18
3601   1524974400  2018-04-29 04:00:00   4975802        NaN  NaN  NaN  280.55
3602   1524978000  2018-04-29 05:00:00   4975802        NaN  NaN  NaN  280.36
3603   1524981600  2018-04-29 06:00:00   4975802        NaN  NaN  NaN  281.15
3588   1524927600  2018-04-28 15:00:00   4975802        NaN  NaN  NaN  284.94
3587   1524924000  2018-04-28 14:00:00   4975802        NaN  NaN  NaN  282.98
3586   1524920400  2018-04-28 13:00:00   4975802        NaN  NaN  NaN  281.64
3576   1524902400  2018-04-28 08:00:00   4975802        NaN  NaN  NaN  281.15
3569   1524891600  2018-04-28 05:00:00   4975802        NaN  NaN  NaN  281.15
3570   1524895200  2018-04-28 06:00:00   4975802        NaN  NaN  NaN  281.15
3572   1524898800  2018-04-28 07:00:00   4975802        NaN  NaN  NaN  281.15
3577   1524906000  2018-04-28 09:00:00   4975802        NaN  NaN  NaN  281.15
3585   1524916800  2018-04-28 12:00:00   4975802        NaN  NaN  NaN  281.15
3580   1524909600  2018-04-28 10:00:00   4975802        NaN  NaN  NaN  281.15
3583   1524913200  2018-04-28 11:00:00   4975802        NaN  NaN  NaN  281.15
10741  1546214400  2018-12-31 00:00:00   4975802        NaN  NaN  NaN  266.76

       temp_min  temp_max  pressure  ...  snow_1h  snow_3h  snow_24h  \
0        253.15    257.15      1019  ...      NaN      NaN       NaN
7155     291.45    294.25      1022  ...      NaN      NaN       NaN
7157     295.35    298.75      1022  ...      NaN      NaN       NaN
7158     297.55    301.45      1022  ...      NaN      NaN       NaN
7159     299.85    303.15      1022  ...      NaN      NaN       NaN
7160     300.95    304.85      1021  ...      NaN      NaN       NaN
7161     302.05    306.45      1021  ...      NaN      NaN       NaN
7162     302.55    306.45      1020  ...      NaN      NaN       NaN
7163     303.15    305.95      1019  ...      NaN      NaN       NaN
7164     302.05    305.95      1019  ...      NaN      NaN       NaN
7165     302.05    305.95      1019  ...      NaN      NaN       NaN
7166     300.95    304.25      1019  ...      NaN      NaN       NaN
7167     296.15    303.15      1020  ...      NaN      NaN       NaN
7168     295.35    300.95      1020  ...      NaN      NaN       NaN
7169     294.85    300.95      1020  ...      NaN      NaN       NaN
7170     294.85    299.25      1020  ...      NaN      NaN       NaN
7171     295.35    298.75      1020  ...      NaN      NaN       NaN
7172     295.35    299.25      1020  ...      NaN      NaN       NaN
7173     294.85    298.75      1020  ...      NaN      NaN       NaN
7156     293.15    296.45      1022  ...      NaN      NaN       NaN
7154     290.35    293.75      1022  ...      NaN      NaN       NaN
7175     293.15    297.55      1020  ...      NaN      NaN       NaN
7153     290.95    293.75      1022  ...      NaN      NaN       NaN
7136     297.55    299.25      1023  ...      NaN      NaN       NaN
7137     297.05    300.35      1023  ...      NaN      NaN       NaN
7138     296.45    300.35      1022  ...      NaN      NaN       NaN
7139     296.45    300.35      1023  ...      NaN      NaN       NaN
7140     295.35    299.85      1022  ...      NaN      NaN       NaN
7141     295.35    296.45      1022  ...      NaN      NaN       NaN
7142     293.75    298.15      1021  ...      NaN      NaN       NaN
...         ...       ...       ...  ...      ...      ...       ...
3543     277.15    281.15      1009  ...      NaN      NaN       NaN
3565     281.15    281.15      1009  ...      NaN      NaN       NaN
3567     281.15    281.15      1008  ...      NaN      NaN       NaN
3589     286.15    287.15      1009  ...      NaN      NaN       NaN
3590     285.15    289.15      1009  ...      NaN      NaN       NaN
3591     287.15    291.15      1010  ...      NaN      NaN       NaN
3592     287.15    292.15      1010  ...      NaN      NaN       NaN
3593     287.15    294.15      1009  ...      NaN      NaN       NaN
3594     287.15    292.15      1010  ...      NaN      NaN       NaN
3595     286.15    292.15      1010  ...      NaN      NaN       NaN
3596     286.15    291.15      1009  ...      NaN      NaN       NaN
3597     284.15    287.15      1010  ...      NaN      NaN       NaN
3598     281.15    287.15      1011  ...      NaN      NaN       NaN
3599     281.15    286.15      1012  ...      NaN      NaN       NaN
3600     280.15    282.15      1013  ...      NaN      NaN       NaN
3601     280.15    281.15      1011  ...      NaN      NaN       NaN
3602     280.15    281.15      1012  ...      NaN      NaN       NaN
3603     281.15    281.15      1011  ...      NaN      NaN       NaN
3588     284.15    285.15      1010  ...      NaN      NaN       NaN
3587     282.15    284.15      1009  ...      NaN      NaN       NaN
3586     281.15    282.15      1008  ...      NaN      NaN       NaN
3576     281.15    281.15      1008  ...      NaN      NaN       NaN
3569     281.15    281.15      1008  ...      NaN      NaN       NaN
3570     281.15    281.15      1008  ...      NaN      NaN       NaN
3572     281.15    281.15      1007  ...      NaN      NaN       NaN
3577     281.15    281.15      1007  ...      NaN      NaN       NaN
3585     281.15    281.15      1008  ...      NaN      NaN       NaN
3580     281.15    281.15      1008  ...      NaN      NaN       NaN
3583     281.15    281.15      1008  ...      NaN      NaN       NaN
10741    264.85    269.25      1024  ...      NaN      NaN       NaN

       snow_today  clouds_all  weather_id  weather_main  \
0             NaN           1         800         Clear
7155          NaN          75         803        Clouds
7157          NaN          40         802        Clouds
7158          NaN          40         802        Clouds
7159          NaN          20         801        Clouds
7160          NaN          20         801        Clouds
7161          NaN          20         801        Clouds
7162          NaN          40         802        Clouds
7163          NaN          40         802        Clouds
7164          NaN          40         802        Clouds
7165          NaN           1         800         Clear
7166          NaN           1         800         Clear
7167          NaN           1         211  Thunderstorm
7168          NaN          75         501          Rain
7169          NaN          20         501          Rain
7170          NaN           1         800         Clear
7171          NaN           1         500          Rain
7172          NaN           1         800         Clear
7173          NaN           1         800         Clear
7156          NaN          20         801        Clouds
7154          NaN          20         801        Clouds
7175          NaN           1         800         Clear
7153          NaN          75         500          Rain
7136          NaN          75         803        Clouds
7137          NaN          75         803        Clouds
7138          NaN           1         800         Clear
7139          NaN          75         803        Clouds
7140          NaN           1         800         Clear
7141          NaN           1         800         Clear
7142          NaN          75         803        Clouds
...           ...         ...         ...           ...
3543          NaN           1         800         Clear
3565          NaN          90         300       Drizzle
3567          NaN          90         300       Drizzle
3589          NaN          75         803        Clouds
3590          NaN          40         802        Clouds
3591          NaN          40         802        Clouds
3592          NaN          40         802        Clouds
3593          NaN          20         801        Clouds
3594          NaN          40         802        Clouds
3595          NaN          20         801        Clouds
3596          NaN          20         801        Clouds
3597          NaN          40         802        Clouds
3598          NaN          75         701          Mist
3599          NaN          75         701          Mist
3600          NaN          90         701          Mist
3601          NaN          90         701          Mist
3602          NaN          90         701          Mist
3603          NaN          90         701          Mist
3588          NaN          90         804        Clouds
3587          NaN          90         701          Mist
3586          NaN          90         701          Mist
3576          NaN          90         741           Fog
3569          NaN          90         701          Mist
3570          NaN          90         500          Rain
3572          NaN          90         701          Mist
3577          NaN          90         701          Mist
3585          NaN          90         701          Mist
3580          NaN          90         701          Mist
3583          NaN          90         701          Mist
10741         NaN          40         802        Clouds

           weather_description  weather_icon  Avg_Temp_F
0                 sky is clear           01n      63.554
7155             broken clouds           04d      -3.802
7157          scattered clouds           03d      -11.83
7158          scattered clouds           03d     -15.808
7159                few clouds           02d     -20.128
7160                few clouds           02d      -22.27
7161                few clouds           02d     -24.412
7162          scattered clouds           03d     -24.952
7163          scattered clouds           03d      -25.06
7164          scattered clouds           03d     -23.908
7165              sky is clear           01d     -24.034
7166              sky is clear           01d     -21.496
7167    proximity thunderstorm           11n      -16.42
7168             moderate rain           10n     -14.314
7169             moderate rain           10n     -12.496
7170              sky is clear           01n     -11.308
7171                light rain           10n      -10.93
7172              sky is clear           01n     -11.614
7173              sky is clear           01n      -9.904
7156                few clouds           02d       -7.69
7154                few clouds           02n       -3.01
7175              sky is clear           01n      -6.358
7153                light rain           10n      -2.848
7136             broken clouds           04d     -13.504
7137             broken clouds           04d     -14.746
7138              sky is clear           01d     -14.656
7139             broken clouds           04d     -13.576
7140              sky is clear           01d     -11.398
7141              sky is clear           01d      -8.788
7142             broken clouds           04d      -7.744
...                        ...           ...         ...
3543              sky is clear           01n      21.488
3565   light intensity drizzle           09n        17.6
3567   light intensity drizzle           09n        17.6
3589             broken clouds           04d       7.898
3590          scattered clouds           03d       6.818
3591          scattered clouds           03d       3.128
3592          scattered clouds           03d        2.21
3593                few clouds           02d       0.464
3594          scattered clouds           03d       1.652
3595                few clouds           02d       2.822
3596                few clouds           02d       5.234
3597          scattered clouds           03d       9.266
3598                      mist           50n       12.02
3599                      mist           50n      14.486
3600                      mist           50n      17.546
3601                      mist           50n       18.68
3602                      mist           50n      19.022
3603                      mist           50n        17.6
3588           overcast clouds           04d      10.778
3587                      mist           50d      14.306
3586                      mist           50d      16.718
3576                       fog           50n        17.6
3569                      mist           50n        17.6
3570                light rain           10n        17.6
3572                      mist           50n        17.6
3577                      mist           50n        17.6
3585                      mist           50d        17.6
3580                      mist           50d        17.6
3583                      mist           50d        17.6
10741         scattered clouds           03n      43.502

[8737 rows x 29 columns]>

In [233]:
#with duplicates removed, appending the portland dataset to boston dataset
wdata = bdata.append([pdata])
wdata.count

<bound method DataFrame.count of                dt                dt_iso  city_id  city_name  lat  lon  \
0      1514764800  2018-01-01 00:00:00   4930956        NaN  NaN  NaN
7696   1535994000  2018-09-03 17:00:00   4930956        NaN  NaN  NaN
7698   1536001200  2018-09-03 19:00:00   4930956        NaN  NaN  NaN
7699   1536004800  2018-09-03 20:00:00   4930956        NaN  NaN  NaN
7700   1536008400  2018-09-03 21:00:00   4930956        NaN  NaN  NaN
7701   1536012000  2018-09-03 22:00:00   4930956        NaN  NaN  NaN
7702   1536015600  2018-09-03 23:00:00   4930956        NaN  NaN  NaN
7703   1536019200  2018-09-04 00:00:00   4930956        NaN  NaN  NaN
7704   1536022800  2018-09-04 01:00:00   4930956        NaN  NaN  NaN
7705   1536026400  2018-09-04 02:00:00   4930956        NaN  NaN  NaN
7706   1536030000  2018-09-04 03:00:00   4930956        NaN  NaN  NaN
7707   1536033600  2018-09-04 04:00:00   4930956        NaN  NaN  NaN
7708   1536037200  2018-09-04 05:00:00   4930956        NaN  NaN  NaN
7709   1536040800  2018-09-04 06:00:00   4930956        NaN  NaN  NaN
7710   1536044400  2018-09-04 07:00:00   4930956        NaN  NaN  NaN
7711   1536048000  2018-09-04 08:00:00   4930956        NaN  NaN  NaN
7712   1536051600  2018-09-04 09:00:00   4930956        NaN  NaN  NaN
7713   1536055200  2018-09-04 10:00:00   4930956        NaN  NaN  NaN
7715   1536058800  2018-09-04 11:00:00   4930956        NaN  NaN  NaN
7697   1535997600  2018-09-03 18:00:00   4930956        NaN  NaN  NaN
7695   1535990400  2018-09-03 16:00:00   4930956        NaN  NaN  NaN
7763   1536217200  2018-09-06 07:00:00   4930956        NaN  NaN  NaN
7694   1535986800  2018-09-03 15:00:00   4930956        NaN  NaN  NaN
7675   1535918400  2018-09-02 20:00:00   4930956        NaN  NaN  NaN
7676   1535922000  2018-09-02 21:00:00   4930956        NaN  NaN  NaN
7677   1535925600  2018-09-02 22:00:00   4930956        NaN  NaN  NaN
7678   1535929200  2018-09-02 23:00:00   4930956        NaN  NaN  NaN
7679   1535932800  2018-09-03 00:00:00   4930956        NaN  NaN  NaN
7680   1535936400  2018-09-03 01:00:00   4930956        NaN  NaN  NaN
7681   1535940000  2018-09-03 02:00:00   4930956        NaN  NaN  NaN
...           ...                   ...      ...        ...  ...  ...
3543   1524816000  2018-04-27 08:00:00   4975802        NaN  NaN  NaN
3565   1524884400  2018-04-28 03:00:00   4975802        NaN  NaN  NaN
3567   1524888000  2018-04-28 04:00:00   4975802        NaN  NaN  NaN
3589   1524931200  2018-04-28 16:00:00   4975802        NaN  NaN  NaN
3590   1524934800  2018-04-28 17:00:00   4975802        NaN  NaN  NaN
3591   1524938400  2018-04-28 18:00:00   4975802        NaN  NaN  NaN
3592   1524942000  2018-04-28 19:00:00   4975802        NaN  NaN  NaN
3593   1524945600  2018-04-28 20:00:00   4975802        NaN  NaN  NaN
3594   1524949200  2018-04-28 21:00:00   4975802        NaN  NaN  NaN
3595   1524952800  2018-04-28 22:00:00   4975802        NaN  NaN  NaN
3596   1524956400  2018-04-28 23:00:00   4975802        NaN  NaN  NaN
3597   1524960000  2018-04-29 00:00:00   4975802        NaN  NaN  NaN
3598   1524963600  2018-04-29 01:00:00   4975802        NaN  NaN  NaN
3599   1524967200  2018-04-29 02:00:00   4975802        NaN  NaN  NaN
3600   1524970800  2018-04-29 03:00:00   4975802        NaN  NaN  NaN
3601   1524974400  2018-04-29 04:00:00   4975802        NaN  NaN  NaN
3602   1524978000  2018-04-29 05:00:00   4975802        NaN  NaN  NaN
3603   1524981600  2018-04-29 06:00:00   4975802        NaN  NaN  NaN
3588   1524927600  2018-04-28 15:00:00   4975802        NaN  NaN  NaN
3587   1524924000  2018-04-28 14:00:00   4975802        NaN  NaN  NaN
3586   1524920400  2018-04-28 13:00:00   4975802        NaN  NaN  NaN
3576   1524902400  2018-04-28 08:00:00   4975802        NaN  NaN  NaN
3569   1524891600  2018-04-28 05:00:00   4975802        NaN  NaN  NaN
3570   1524895200  2018-04-28 06:00:00   4975802        NaN  NaN  NaN
3572   1524898800  2018-04-28 07:00:00   4975802        NaN  NaN  NaN
3577   1524906000  2018-04-28 09:00:00   4975802        NaN  NaN  NaN
3585   1524916800  2018-04-28 12:00:00   4975802        NaN  NaN  NaN
3580   1524909600  2018-04-28 10:00:00   4975802        NaN  NaN  NaN
3583   1524913200  2018-04-28 11:00:00   4975802        NaN  NaN  NaN
10741  1546214400  2018-12-31 00:00:00   4975802        NaN  NaN  NaN

             temp  temp_min  temp_max  pressure  ...  snow_1h  snow_3h  \
0      259.609984    256.15    262.15      1022  ...      NaN      NaN
7696   303.880000    302.05    305.15      1022  ...      NaN      NaN
7698   306.050000    304.25    307.55      1021  ...      NaN      NaN
7699   306.170000    304.25    308.15      1020  ...      NaN      NaN
7700   306.340000    304.85    307.55      1020  ...      NaN      NaN
7701   305.380000    303.15    307.55      1020  ...      NaN      NaN
7702   304.420000    302.05    307.05      1020  ...      NaN      NaN
7703   302.880000    299.85    305.95      1020  ...      NaN      NaN
7704   300.910000    299.15    303.75      1021  ...      NaN      NaN
7705   300.570000    298.75    303.75      1021  ...      NaN      NaN
7706   299.930000    298.15    302.05      1021  ...      NaN      NaN
7707   299.500000    297.15    302.05      1021  ...      NaN      NaN
7708   299.240000    297.05    302.05      1021  ...      NaN      NaN
7709   298.880000    297.05    301.45      1021  ...      NaN      NaN
7710   298.550000    296.45    301.45      1020  ...      NaN      NaN
7711   298.040000    296.45    300.95      1020  ...      NaN      NaN
7712   297.000000    295.95    299.85      1021  ...      NaN      NaN
7713   296.440000    294.25    298.75      1021  ...      NaN      NaN
7715   295.960000    293.75    298.15      1022  ...      NaN      NaN
7697   305.150000    303.15    306.45      1021  ...      NaN      NaN
7695   302.260000    300.95    303.75      1023  ...      NaN      NaN
7763   296.570000    294.85    298.15      1020  ...      NaN      NaN
7694   300.500000    298.75    302.05      1023  ...      NaN      NaN
7675   300.990000    298.15    303.15      1023  ...      NaN      NaN
7676   301.050000    298.15    303.15      1023  ...      NaN      NaN
7677   300.470000    297.55    303.15      1023  ...      NaN      NaN
7678   299.430000    297.05    301.45      1022  ...      NaN      NaN
7679   297.870000    295.95    299.85      1022  ...      NaN      NaN
7680   296.800000    295.15    298.75      1023  ...      NaN      NaN
7681   295.990000    294.25    298.15      1023  ...      NaN      NaN
...           ...       ...       ...       ...  ...      ...      ...
3543   278.990000    277.15    281.15      1009  ...      NaN      NaN
3565   281.150000    281.15    281.15      1009  ...      NaN      NaN
3567   281.150000    281.15    281.15      1008  ...      NaN      NaN
3589   286.540000    286.15    287.15      1009  ...      NaN      NaN
3590   287.140000    285.15    289.15      1009  ...      NaN      NaN
3591   289.190000    287.15    291.15      1010  ...      NaN      NaN
3592   289.700000    287.15    292.15      1010  ...      NaN      NaN
3593   290.670000    287.15    294.15      1009  ...      NaN      NaN
3594   290.010000    287.15    292.15      1010  ...      NaN      NaN
3595   289.360000    286.15    292.15      1010  ...      NaN      NaN
3596   288.020000    286.15    291.15      1009  ...      NaN      NaN
3597   285.780000    284.15    287.15      1010  ...      NaN      NaN
3598   284.250000    281.15    287.15      1011  ...      NaN      NaN
3599   282.880000    281.15    286.15      1012  ...      NaN      NaN
3600   281.180000    280.15    282.15      1013  ...      NaN      NaN
3601   280.550000    280.15    281.15      1011  ...      NaN      NaN
3602   280.360000    280.15    281.15      1012  ...      NaN      NaN
3603   281.150000    281.15    281.15      1011  ...      NaN      NaN
3588   284.940000    284.15    285.15      1010  ...      NaN      NaN
3587   282.980000    282.15    284.15      1009  ...      NaN      NaN
3586   281.640000    281.15    282.15      1008  ...      NaN      NaN
3576   281.150000    281.15    281.15      1008  ...      NaN      NaN
3569   281.150000    281.15    281.15      1008  ...      NaN      NaN
3570   281.150000    281.15    281.15      1008  ...      NaN      NaN
3572   281.150000    281.15    281.15      1007  ...      NaN      NaN
3577   281.150000    281.15    281.15      1007  ...      NaN      NaN
3585   281.150000    281.15    281.15      1008  ...      NaN      NaN
3580   281.150000    281.15    281.15      1008  ...      NaN      NaN
3583   281.150000    281.15    281.15      1008  ...      NaN      NaN
10741  266.760000    264.85    269.25      1024  ...      NaN      NaN

       snow_24h  snow_today  clouds_all  weather_id  weather_main  \
0           NaN         NaN           1         800         Clear
7696        NaN         NaN           1         800         Clear
7698        NaN         NaN          20         801        Clouds
7699        NaN         NaN          20         801        Clouds
7700        NaN         NaN           1         800         Clear
7701        NaN         NaN           1         800         Clear
7702        NaN         NaN           1         800         Clear
7703        NaN         NaN           1         721          Haze
7704        NaN         NaN           1         800         Clear
7705        NaN         NaN           1         800         Clear
7706        NaN         NaN           1         800         Clear
7707        NaN         NaN           1         800         Clear
7708        NaN         NaN           1         800         Clear
7709        NaN         NaN           1         800         Clear
7710        NaN         NaN           1         800         Clear
7711        NaN         NaN           1         701          Mist
7712        NaN         NaN           1         701          Mist
7713        NaN         NaN           1         701          Mist
7715        NaN         NaN           1         741           Fog
7697        NaN         NaN           1         800         Clear
7695        NaN         NaN           1         800         Clear
7763        NaN         NaN           1         800         Clear
7694        NaN         NaN           1         800         Clear
7675        NaN         NaN           1         800         Clear
7676        NaN         NaN           1         800         Clear
7677        NaN         NaN           1         800         Clear
7678        NaN         NaN           1         800         Clear
7679        NaN         NaN           1         800         Clear
7680        NaN         NaN           1         800         Clear
7681        NaN         NaN          20         801        Clouds
...         ...         ...         ...         ...           ...
3543        NaN         NaN           1         800         Clear
3565        NaN         NaN          90         300       Drizzle
3567        NaN         NaN          90         300       Drizzle
3589        NaN         NaN          75         803        Clouds
3590        NaN         NaN          40         802        Clouds
3591        NaN         NaN          40         802        Clouds
3592        NaN         NaN          40         802        Clouds
3593        NaN         NaN          20         801        Clouds
3594        NaN         NaN          40         802        Clouds
3595        NaN         NaN          20         801        Clouds
3596        NaN         NaN          20         801        Clouds
3597        NaN         NaN          40         802        Clouds
3598        NaN         NaN          75         701          Mist
3599        NaN         NaN          75         701          Mist
3600        NaN         NaN          90         701          Mist
3601        NaN         NaN          90         701          Mist
3602        NaN         NaN          90         701          Mist
3603        NaN         NaN          90         701          Mist
3588        NaN         NaN          90         804        Clouds
3587        NaN         NaN          90         701          Mist
3586        NaN         NaN          90         701          Mist
3576        NaN         NaN          90         741           Fog
3569        NaN         NaN          90         701          Mist
3570        NaN         NaN          90         500          Rain
3572        NaN         NaN          90         701          Mist
3577        NaN         NaN          90         701          Mist
3585        NaN         NaN          90         701          Mist
3580        NaN         NaN          90         701          Mist
3583        NaN         NaN          90         701          Mist
10741       NaN         NaN          40         802        Clouds

           weather_description  weather_icon  Avg_Temp_F
0                 sky is clear           01n      56.372
7696              sky is clear           01d     -23.314
7698                few clouds           02d      -27.22
7699                few clouds           02d     -27.436
7700              sky is clear           01d     -27.742
7701              sky is clear           01d     -26.014
7702              sky is clear           01d     -24.286
7703                      haze           50n     -21.514
7704              sky is clear           01n     -17.968
7705              sky is clear           01n     -17.356
7706              sky is clear           01n     -16.204
7707              sky is clear           01n      -15.43
7708              sky is clear           01n     -14.962
7709              sky is clear           01n     -14.314
7710              sky is clear           01n      -13.72
7711                      mist           50n     -12.802
7712                      mist           50n      -10.93
7713                      mist           50n      -9.922
7715                       fog           50d      -9.058
7697              sky is clear           01d       -25.6
7695              sky is clear           01d     -20.398
7763              sky is clear           01n     -10.156
7694              sky is clear           01d      -17.23
7675              sky is clear           01d     -18.112
7676              sky is clear           01d      -18.22
7677              sky is clear           01d     -17.176
7678              sky is clear           01d     -15.304
7679              sky is clear           01n     -12.496
7680              sky is clear           01n      -10.57
7681                few clouds           02n      -9.112
...                        ...           ...         ...
3543              sky is clear           01n      21.488
3565   light intensity drizzle           09n        17.6
3567   light intensity drizzle           09n        17.6
3589             broken clouds           04d       7.898
3590          scattered clouds           03d       6.818
3591          scattered clouds           03d       3.128
3592          scattered clouds           03d        2.21
3593                few clouds           02d       0.464
3594          scattered clouds           03d       1.652
3595                few clouds           02d       2.822
3596                few clouds           02d       5.234
3597          scattered clouds           03d       9.266
3598                      mist           50n       12.02
3599                      mist           50n      14.486
3600                      mist           50n      17.546
3601                      mist           50n       18.68
3602                      mist           50n      19.022
3603                      mist           50n        17.6
3588           overcast clouds           04d      10.778
3587                      mist           50d      14.306
3586                      mist           50d      16.718
3576                       fog           50n        17.6
3569                      mist           50n        17.6
3570                light rain           10n        17.6
3572                      mist           50n        17.6
3577                      mist           50n        17.6
3585                      mist           50d        17.6
3580                      mist           50d        17.6
3583                      mist           50d        17.6
10741         scattered clouds           03n      43.502

[17474 rows x 29 columns]>

In [234]:
#removing unneeded columns
columns = ['lat','lon','sea_level','grnd_level','wind_deg',
          'rain_1h','rain_3h','rain_24h','rain_today','snow_1h',
          'snow_3h','snow_24h','snow_today']
wdata.drop(columns, inplace=True, axis=1)
wdata.head()

,dt,dt_iso,city_id,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,clouds_all,weather_id,weather_main,weather_description,weather_icon,Avg_Temp_F
0,1514764800,2018-01-01 00:00:00,4930956,NaN,259.609984,256.15,262.15,1022,59,3,1,800,Clear,sky is clear,01n,56.372
7696,1535994000,2018-09-03 17:00:00,4930956,NaN,303.880000,302.05,305.15,1022,62,3,1,800,Clear,sky is clear,01d,-23.314
7698,1536001200,2018-09-03 19:00:00,4930956,NaN,306.050000,304.25,307.55,1021,56,4,20,801,Clouds,few clouds,02d,-27.22
7699,1536004800,2018-09-03 20:00:00,4930956,NaN,306.170000,304.25,308.15,1020,59,4,20,801,Clouds,few clouds,02d,-27.436
7700,1536008400,2018-09-03 21:00:00,4930956,NaN,306.340000,304.85,307.55,1020,59,3,1,800,Clear,sky is clear,01d,-27.742