In [61]:
#import libraries
import pandas as pd
import numpy as np

In [62]:
# Name of the CSV file
#IDs to city names: 4975802 - Portland, OR; 4930956 - Boston, MA; 
bos_data = 'weather_data_BOS_2018.csv'
por_data = 'weather_data_POR_2018.csv'
bdata = pd.read_csv(bos_data)
pdata = pd.read_csv(por_data)
bdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1514764800,2018-01-01 00:00:00 +0000 UTC,4930956,NaN,NaN,NaN,259.609984,256.15,262.15,1022,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
1,1514768400,2018-01-01 01:00:00 +0000 UTC,4930956,NaN,NaN,NaN,258.769984,256.15,260.15,1022,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
2,1514772000,2018-01-01 02:00:00 +0000 UTC,4930956,NaN,NaN,NaN,258.310000,256.15,260.15,1022,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
3,1514775600,2018-01-01 03:00:00 +0000 UTC,4930956,NaN,NaN,NaN,257.769984,256.15,259.15,1022,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1514779200,2018-01-01 04:00:00 +0000 UTC,4930956,NaN,NaN,NaN,257.150000,255.15,259.15,1023,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n

In [63]:
pdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1514764800,2018-01-01 00:00:00 +0000 UTC,4975802,NaN,NaN,NaN,255.62,253.15,257.15,1019,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
1,1514768400,2018-01-01 01:00:00 +0000 UTC,4975802,NaN,NaN,NaN,254.26,250.15,256.15,1019,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
2,1514772000,2018-01-01 02:00:00 +0000 UTC,4975802,NaN,NaN,NaN,255.14,254.15,256.15,1020,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
3,1514775600,2018-01-01 03:00:00 +0000 UTC,4975802,NaN,NaN,NaN,254.14,253.15,255.15,1020,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n
4,1514779200,2018-01-01 04:00:00 +0000 UTC,4975802,NaN,NaN,NaN,253.73,252.15,255.15,1020,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n

In [64]:
#function to covert temp (in Kelvin) to Farhrenheit
def KelvintoFahr(temp_kelvin):
    converted_temp = (((temp_kelvin - 273.15) * 1.8) + 32)
    return converted_temp

In [65]:
#converting Kel to Farh on smaller Boston Data Set
col_name = 'avg_temp_f'
bdata[col_name] = None

for index, row in bdata.iterrows():
  # Convert the Kelvin temperature of the row into Farhrenheit
  farh = KelvintoFahr(row['temp'])
  # Add that value into 'avg_temp_f' column using the index of the row
  bdata.loc[index, col_name] = farh

bdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon,avg_temp_f
0,1514764800,2018-01-01 00:00:00 +0000 UTC,4930956,NaN,NaN,NaN,259.609984,256.15,262.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,7.62797
1,1514768400,2018-01-01 01:00:00 +0000 UTC,4930956,NaN,NaN,NaN,258.769984,256.15,260.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,6.11597
2,1514772000,2018-01-01 02:00:00 +0000 UTC,4930956,NaN,NaN,NaN,258.310000,256.15,260.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,5.288
3,1514775600,2018-01-01 03:00:00 +0000 UTC,4930956,NaN,NaN,NaN,257.769984,256.15,259.15,1022,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,4.31597
4,1514779200,2018-01-01 04:00:00 +0000 UTC,4930956,NaN,NaN,NaN,257.150000,255.15,259.15,1023,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,3.2

In [67]:
#converting Kel to Farh on smaller Portland Data Set
col_name = 'avg_temp_f'
pdata[col_name] = None

for index, row in pdata.iterrows():
  # Convert the Kelvin temperature of the row into Farhrenheit
  farh = KelvintoFahr(row['temp'])
  # Add that value into 'avg_temp_f' column using the index of the row
  pdata.loc[index, col_name] = farh

pdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon,avg_temp_f
0,1514764800,2018-01-01 00:00:00 +0000 UTC,4975802,NaN,NaN,NaN,255.62,253.15,257.15,1019,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,0.446
1,1514768400,2018-01-01 01:00:00 +0000 UTC,4975802,NaN,NaN,NaN,254.26,250.15,256.15,1019,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,-2.002
2,1514772000,2018-01-01 02:00:00 +0000 UTC,4975802,NaN,NaN,NaN,255.14,254.15,256.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,-0.418
3,1514775600,2018-01-01 03:00:00 +0000 UTC,4975802,NaN,NaN,NaN,254.14,253.15,255.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,-2.218
4,1514779200,2018-01-01 04:00:00 +0000 UTC,4975802,NaN,NaN,NaN,253.73,252.15,255.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,-2.956

In [68]:
#removed UTC timezone info from dt_iso column
bdata['dt_iso'] = bdata['dt_iso'].astype(str).str[:-9]
pdata['dt_iso'] = pdata['dt_iso'].astype(str).str[:-9]
pdata.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon,avg_temp_f
0,1514764800,2018-01-01 00:00:00,4975802,NaN,NaN,NaN,255.62,253.15,257.15,1019,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,0.446
1,1514768400,2018-01-01 01:00:00,4975802,NaN,NaN,NaN,254.26,250.15,256.15,1019,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,-2.002
2,1514772000,2018-01-01 02:00:00,4975802,NaN,NaN,NaN,255.14,254.15,256.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,-0.418
3,1514775600,2018-01-01 03:00:00,4975802,NaN,NaN,NaN,254.14,253.15,255.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,-2.218
4,1514779200,2018-01-01 04:00:00,4975802,NaN,NaN,NaN,253.73,252.15,255.15,1020,...,NaN,NaN,NaN,NaN,1,800,Clear,sky is clear,01n,-2.956

In [69]:
#There are 8760 hours in a year, so there should be around that many rows.
pdata.count

<bound method DataFrame.count of                dt                dt_iso  city_id  city_name  lat  lon  \
0      1514764800  2018-01-01 00:00:00   4975802        NaN  NaN  NaN
1      1514768400  2018-01-01 01:00:00   4975802        NaN  NaN  NaN
2      1514772000  2018-01-01 02:00:00   4975802        NaN  NaN  NaN
3      1514775600  2018-01-01 03:00:00   4975802        NaN  NaN  NaN
4      1514779200  2018-01-01 04:00:00   4975802        NaN  NaN  NaN
5      1514782800  2018-01-01 05:00:00   4975802        NaN  NaN  NaN
6      1514786400  2018-01-01 06:00:00   4975802        NaN  NaN  NaN
7      1514790000  2018-01-01 07:00:00   4975802        NaN  NaN  NaN
8      1514793600  2018-01-01 08:00:00   4975802        NaN  NaN  NaN
9      1514797200  2018-01-01 09:00:00   4975802        NaN  NaN  NaN
10     1514800800  2018-01-01 10:00:00   4975802        NaN  NaN  NaN
11     1514804400  2018-01-01 11:00:00   4975802        NaN  NaN  NaN
12     1514808000  2018-01-01 12:00:00   4975802        NaN  NaN  NaN
13     1514811600  2018-01-01 13:00:00   4975802        NaN  NaN  NaN
14     1514815200  2018-01-01 14:00:00   4975802        NaN  NaN  NaN
15     1514818800  2018-01-01 15:00:00   4975802        NaN  NaN  NaN
16     1514822400  2018-01-01 16:00:00   4975802        NaN  NaN  NaN
17     1514826000  2018-01-01 17:00:00   4975802        NaN  NaN  NaN
18     1514829600  2018-01-01 18:00:00   4975802        NaN  NaN  NaN
19     1514833200  2018-01-01 19:00:00   4975802        NaN  NaN  NaN
20     1514836800  2018-01-01 20:00:00   4975802        NaN  NaN  NaN
21     1514840400  2018-01-01 21:00:00   4975802        NaN  NaN  NaN
22     1514844000  2018-01-01 22:00:00   4975802        NaN  NaN  NaN
23     1514847600  2018-01-01 23:00:00   4975802        NaN  NaN  NaN
24     1514851200  2018-01-02 00:00:00   4975802        NaN  NaN  NaN
25     1514854800  2018-01-02 01:00:00   4975802        NaN  NaN  NaN
26     1514858400  2018-01-02 02:00:00   4975802        NaN  NaN  NaN
27     1514862000  2018-01-02 03:00:00   4975802        NaN  NaN  NaN
28     1514865600  2018-01-02 04:00:00   4975802        NaN  NaN  NaN
29     1514869200  2018-01-02 05:00:00   4975802        NaN  NaN  NaN
...           ...                   ...      ...        ...  ...  ...
10712  1546110000  2018-12-29 19:00:00   4975802        NaN  NaN  NaN
10713  1546113600  2018-12-29 20:00:00   4975802        NaN  NaN  NaN
10714  1546117200  2018-12-29 21:00:00   4975802        NaN  NaN  NaN
10715  1546120800  2018-12-29 22:00:00   4975802        NaN  NaN  NaN
10716  1546124400  2018-12-29 23:00:00   4975802        NaN  NaN  NaN
10717  1546128000  2018-12-30 00:00:00   4975802        NaN  NaN  NaN
10718  1546131600  2018-12-30 01:00:00   4975802        NaN  NaN  NaN
10719  1546135200  2018-12-30 02:00:00   4975802        NaN  NaN  NaN
10720  1546138800  2018-12-30 03:00:00   4975802        NaN  NaN  NaN
10721  1546142400  2018-12-30 04:00:00   4975802        NaN  NaN  NaN
10722  1546146000  2018-12-30 05:00:00   4975802        NaN  NaN  NaN
10723  1546149600  2018-12-30 06:00:00   4975802        NaN  NaN  NaN
10724  1546153200  2018-12-30 07:00:00   4975802        NaN  NaN  NaN
10725  1546156800  2018-12-30 08:00:00   4975802        NaN  NaN  NaN
10726  1546160400  2018-12-30 09:00:00   4975802        NaN  NaN  NaN
10727  1546164000  2018-12-30 10:00:00   4975802        NaN  NaN  NaN
10728  1546167600  2018-12-30 11:00:00   4975802        NaN  NaN  NaN
10729  1546171200  2018-12-30 12:00:00   4975802        NaN  NaN  NaN
10730  1546174800  2018-12-30 13:00:00   4975802        NaN  NaN  NaN
10731  1546178400  2018-12-30 14:00:00   4975802        NaN  NaN  NaN
10732  1546182000  2018-12-30 15:00:00   4975802        NaN  NaN  NaN
10733  1546185600  2018-12-30 16:00:00   4975802        NaN  NaN  NaN
10734  1546189200  2018-12-30 17:00:00   4975802        NaN  NaN  NaN
10735  1546192800  2018-12-30 18:00:00   4975802        NaN  NaN  NaN
10736  1546196400  2018-12-30 19:00:00   4975802        NaN  NaN  NaN
10737  1546200000  2018-12-30 20:00:00   4975802        NaN  NaN  NaN
10738  1546203600  2018-12-30 21:00:00   4975802        NaN  NaN  NaN
10739  1546207200  2018-12-30 22:00:00   4975802        NaN  NaN  NaN
10740  1546210800  2018-12-30 23:00:00   4975802        NaN  NaN  NaN
10741  1546214400  2018-12-31 00:00:00   4975802        NaN  NaN  NaN

             temp    temp_min  temp_max  pressure  ...  snow_1h  snow_3h  \
0      255.620000  253.150000    257.15      1019  ...      NaN      NaN
1      254.260000  250.150000    256.15      1019  ...      NaN      NaN
2      255.140000  254.150000    256.15      1020  ...      NaN      NaN
3      254.140000  253.150000    255.15      1020  ...      NaN      NaN
4      253.730000  252.150000    255.15      1020  ...      NaN      NaN
5      253.530000  252.150000    254.15      1020  ...      NaN      NaN
6      252.110000  250.150000    253.15      1020  ...      NaN      NaN
7      249.040000  242.150000    252.15      1020  ...      NaN      NaN
8      248.720000  243.150000    252.15      1020  ...      NaN      NaN
9      250.100000  249.150000    252.15      1020  ...      NaN      NaN
10     249.530000  247.150000    252.15      1020  ...      NaN      NaN
11     249.510000  247.150000    251.15      1020  ...      NaN      NaN
12     246.200000  240.150000    251.15      1021  ...      NaN      NaN
13     244.840000  239.150000    251.15      1021  ...      NaN      NaN
14     246.640000  240.150000    255.15      1021  ...      NaN      NaN
15     251.720000  245.150000    257.15      1021  ...      NaN      NaN
16     255.580000  250.150000    259.15      1020  ...      NaN      NaN
17     257.280000  255.150000    260.15      1020  ...      NaN      NaN
18     258.959984  258.150000    259.15      1019  ...      NaN      NaN
19     259.650000  258.150000    261.15      1019  ...      NaN      NaN
20     259.829984  259.150000    261.15      1020  ...      NaN      NaN
21     259.500000  258.150000    260.15      1021  ...      NaN      NaN
22     258.160000  257.150000    259.15      1021  ...      NaN      NaN
23     256.799984  256.150000    258.15      1022  ...      NaN      NaN
24     255.980000  255.150000    257.15      1022  ...      NaN      NaN
25     255.470000  254.150000    256.15      1022  ...      NaN      NaN
26     254.920000  254.150000    256.15      1022  ...      NaN      NaN
27     254.340000  252.150000    255.15      1022  ...      NaN      NaN
28     253.750000  252.150000    255.15      1022  ...      NaN      NaN
29     251.400000  245.150000    255.15      1022  ...      NaN      NaN
...           ...         ...       ...       ...  ...      ...      ...
10712  280.740000  278.750000    282.55      1009  ...      NaN      NaN
10713  279.550000  277.550000    281.45      1010  ...      NaN      NaN
10714  278.330000  275.950000    280.35      1012  ...      NaN      NaN
10715  276.650000  274.850000    278.15      1013  ...      NaN      NaN
10716  275.330000  273.750000    276.45      1015  ...      NaN      NaN
10717  273.950000  272.550000    275.35      1016  ...      NaN      NaN
10718  272.770000  272.050000    273.75      1018  ...      NaN      NaN
10719  271.090000  270.350000    272.05      1018  ...      NaN      NaN
10720  269.990000  269.250000    270.95      1019  ...      NaN      NaN
10721  268.890000  267.550000    269.85      1020  ...      NaN      NaN
10722  268.020000  266.450000    269.25      1020  ...      NaN      NaN
10723  267.370000  265.950000    268.15      1021  ...      NaN      NaN
10724  267.010000  266.450000    267.55      1021  ...      NaN      NaN
10725  266.110000  265.350000    267.05      1021  ...      NaN      NaN
10726  265.890000  264.850000    267.05      1022  ...      NaN      NaN
10727  265.990000  264.850000    267.05      1021  ...      NaN      NaN
10728  265.480000  262.049984    267.05      1023  ...      NaN      NaN
10729  265.440000  262.550000    267.55      1023  ...      NaN      NaN
10730  265.720000  263.150000    267.55      1024  ...      NaN      NaN
10731  266.180000  264.250000    268.15      1024  ...      NaN      NaN
10732  266.480000  264.850000    268.75      1024  ...      NaN      NaN
10733  267.490000  265.350000    270.35      1023  ...      NaN      NaN
10734  268.480000  266.450000    271.45      1022  ...      NaN      NaN
10735  269.240000  267.050000    272.05      1022  ...      NaN      NaN
10736  269.960000  268.150000    272.05      1022  ...      NaN      NaN
10737  270.530000  269.250000    272.05      1023  ...      NaN      NaN
10738  270.300000  269.250000    270.95      1023  ...      NaN      NaN
10739  269.630000  268.750000    270.35      1024  ...      NaN      NaN
10740  268.000000  266.450000    269.25      1024  ...      NaN      NaN
10741  266.760000  264.850000    269.25      1024  ...      NaN      NaN

       snow_24h  snow_today  clouds_all  weather_id  weather_main  \
0           NaN         NaN           1         800         Clear
1           NaN         NaN           1         800         Clear
2           NaN         NaN           1         800         Clear
3           NaN         NaN           1         800         Clear
4           NaN         NaN           1         800         Clear
5           NaN         NaN           1         800         Clear
6           NaN         NaN           1         800         Clear
7           NaN         NaN           1         800         Clear
8           NaN         NaN           1         800         Clear
9           NaN         NaN           1         800         Clear
10          NaN         NaN           1         800         Clear
11          NaN         NaN           1         800         Clear
12          NaN         NaN           1         800         Clear
13          NaN         NaN           1         800         Clear
14          NaN         NaN           1         800         Clear
15          NaN         NaN           1         800         Clear
16          NaN         NaN           1         800         Clear
17          NaN         NaN           1         800         Clear
18          NaN         NaN           1         800         Clear
19          NaN         NaN           1         800         Clear
20          NaN         NaN           1         800         Clear
21          NaN         NaN           1         800         Clear
22          NaN         NaN           1         800         Clear
23          NaN         NaN           1         800         Clear
24          NaN         NaN           1         800         Clear
25          NaN         NaN           1         800         Clear
26          NaN         NaN           1         800         Clear
27          NaN         NaN           1         800         Clear
28          NaN         NaN           1         800         Clear
29          NaN         NaN           1         800         Clear
...         ...         ...         ...         ...           ...
10712       NaN         NaN          40         802        Clouds
10713       NaN         NaN          75         803        Clouds
10714       NaN         NaN          90         804        Clouds
10715       NaN         NaN          90         804        Clouds
10716       NaN         NaN          90         804        Clouds
10717       NaN         NaN          90         804        Clouds
10718       NaN         NaN          20         801        Clouds
10719       NaN         NaN           1         800         Clear
10720       NaN         NaN           1         800         Clear
10721       NaN         NaN           1         800         Clear
10722       NaN         NaN           1         800         Clear
10723       NaN         NaN           1         800         Clear
10724       NaN         NaN           1         800         Clear
10725       NaN         NaN           1         800         Clear
10726       NaN         NaN           1         800         Clear
10727       NaN         NaN           1         800         Clear
10728       NaN         NaN          20         801        Clouds
10729       NaN         NaN          40         802        Clouds
10730       NaN         NaN          75         803        Clouds
10731       NaN         NaN          90         804        Clouds
10732       NaN         NaN          90         804        Clouds
10733       NaN         NaN          90         804        Clouds
10734       NaN         NaN          20         801        Clouds
10735       NaN         NaN          20         801        Clouds
10736       NaN         NaN           1         800         Clear
10737       NaN         NaN           1         800         Clear
10738       NaN         NaN           1         800         Clear
10739       NaN         NaN           1         800         Clear
10740       NaN         NaN           1         800         Clear
10741       NaN         NaN          40         802        Clouds

       weather_description  weather_icon  avg_temp_f
0             sky is clear           01n       0.446
1             sky is clear           01n      -2.002
2             sky is clear           01n      -0.418
3             sky is clear           01n      -2.218
4             sky is clear           01n      -2.956
5             sky is clear           01n      -3.316
6             sky is clear           01n      -5.872
7             sky is clear           01n     -11.398
8             sky is clear           01n     -11.974
9             sky is clear           01n       -9.49
10            sky is clear           01n     -10.516
11            sky is clear           01n     -10.552
12            sky is clear           01n      -16.51
13            sky is clear           01d     -18.958
14            sky is clear           01d     -15.718
15            sky is clear           01d      -6.574
16            sky is clear           01d       0.374
17            sky is clear           01d       3.434
18            sky is clear           01d     6.45797
19            sky is clear           01d         7.7
20            sky is clear           01d     8.02397
21            sky is clear           01d        7.43
22            sky is clear           01n       5.018
23            sky is clear           01n     2.56997
24            sky is clear           01n       1.094
25            sky is clear           01n       0.176
26            sky is clear           01n      -0.814
27            sky is clear           01n      -1.858
28            sky is clear           01n       -2.92
29            sky is clear           01n       -7.15
...                    ...           ...         ...
10712     scattered clouds           03d      45.662
10713        broken clouds           04d       43.52
10714      overcast clouds           04d      41.324
10715      overcast clouds           04n        38.3
10716      overcast clouds           04n      35.924
10717      overcast clouds           04n       33.44
10718           few clouds           02n      31.316
10719         sky is clear           01n      28.292
10720         sky is clear           01n      26.312
10721         sky is clear           01n      24.332
10722         sky is clear           01n      22.766
10723         sky is clear           01n      21.596
10724         sky is clear           01n      20.948
10725         sky is clear           01n      19.328
10726         sky is clear           01n      18.932
10727         sky is clear           01n      19.112
10728           few clouds           02n      18.194
10729     scattered clouds           03n      18.122
10730        broken clouds           04d      18.626
10731      overcast clouds           04d      19.454
10732      overcast clouds           04d      19.994
10733      overcast clouds           04d      21.812
10734           few clouds           02d      23.594
10735           few clouds           02d      24.962
10736         sky is clear           01d      26.258
10737         sky is clear           01d      27.284
10738         sky is clear           01d       26.87
10739         sky is clear           01n      25.664
10740         sky is clear           01n       22.73
10741     scattered clouds           03n      20.498

[10742 rows x 29 columns]>

In [70]:
#There are 8760 hours in a year, so there should be around that many rows.
bdata.count

<bound method DataFrame.count of                dt                dt_iso  city_id  city_name  lat  lon  \
0      1514764800  2018-01-01 00:00:00   4930956        NaN  NaN  NaN
1      1514768400  2018-01-01 01:00:00   4930956        NaN  NaN  NaN
2      1514772000  2018-01-01 02:00:00   4930956        NaN  NaN  NaN
3      1514775600  2018-01-01 03:00:00   4930956        NaN  NaN  NaN
4      1514779200  2018-01-01 04:00:00   4930956        NaN  NaN  NaN
5      1514782800  2018-01-01 05:00:00   4930956        NaN  NaN  NaN
6      1514786400  2018-01-01 06:00:00   4930956        NaN  NaN  NaN
7      1514790000  2018-01-01 07:00:00   4930956        NaN  NaN  NaN
8      1514793600  2018-01-01 08:00:00   4930956        NaN  NaN  NaN
9      1514797200  2018-01-01 09:00:00   4930956        NaN  NaN  NaN
10     1514800800  2018-01-01 10:00:00   4930956        NaN  NaN  NaN
11     1514804400  2018-01-01 11:00:00   4930956        NaN  NaN  NaN
12     1514808000  2018-01-01 12:00:00   4930956        NaN  NaN  NaN
13     1514811600  2018-01-01 13:00:00   4930956        NaN  NaN  NaN
14     1514815200  2018-01-01 14:00:00   4930956        NaN  NaN  NaN
15     1514818800  2018-01-01 15:00:00   4930956        NaN  NaN  NaN
16     1514822400  2018-01-01 16:00:00   4930956        NaN  NaN  NaN
17     1514826000  2018-01-01 17:00:00   4930956        NaN  NaN  NaN
18     1514829600  2018-01-01 18:00:00   4930956        NaN  NaN  NaN
19     1514833200  2018-01-01 19:00:00   4930956        NaN  NaN  NaN
20     1514836800  2018-01-01 20:00:00   4930956        NaN  NaN  NaN
21     1514840400  2018-01-01 21:00:00   4930956        NaN  NaN  NaN
22     1514844000  2018-01-01 22:00:00   4930956        NaN  NaN  NaN
23     1514847600  2018-01-01 23:00:00   4930956        NaN  NaN  NaN
24     1514851200  2018-01-02 00:00:00   4930956        NaN  NaN  NaN
25     1514854800  2018-01-02 01:00:00   4930956        NaN  NaN  NaN
26     1514858400  2018-01-02 02:00:00   4930956        NaN  NaN  NaN
27     1514862000  2018-01-02 03:00:00   4930956        NaN  NaN  NaN
28     1514865600  2018-01-02 04:00:00   4930956        NaN  NaN  NaN
29     1514869200  2018-01-02 05:00:00   4930956        NaN  NaN  NaN
...           ...                   ...      ...        ...  ...  ...
11525  1546110000  2018-12-29 19:00:00   4930956        NaN  NaN  NaN
11526  1546113600  2018-12-29 20:00:00   4930956        NaN  NaN  NaN
11527  1546117200  2018-12-29 21:00:00   4930956        NaN  NaN  NaN
11528  1546120800  2018-12-29 22:00:00   4930956        NaN  NaN  NaN
11529  1546124400  2018-12-29 23:00:00   4930956        NaN  NaN  NaN
11530  1546128000  2018-12-30 00:00:00   4930956        NaN  NaN  NaN
11531  1546131600  2018-12-30 01:00:00   4930956        NaN  NaN  NaN
11532  1546135200  2018-12-30 02:00:00   4930956        NaN  NaN  NaN
11533  1546138800  2018-12-30 03:00:00   4930956        NaN  NaN  NaN
11534  1546142400  2018-12-30 04:00:00   4930956        NaN  NaN  NaN
11535  1546146000  2018-12-30 05:00:00   4930956        NaN  NaN  NaN
11536  1546149600  2018-12-30 06:00:00   4930956        NaN  NaN  NaN
11537  1546153200  2018-12-30 07:00:00   4930956        NaN  NaN  NaN
11538  1546156800  2018-12-30 08:00:00   4930956        NaN  NaN  NaN
11539  1546160400  2018-12-30 09:00:00   4930956        NaN  NaN  NaN
11540  1546164000  2018-12-30 10:00:00   4930956        NaN  NaN  NaN
11541  1546167600  2018-12-30 11:00:00   4930956        NaN  NaN  NaN
11542  1546171200  2018-12-30 12:00:00   4930956        NaN  NaN  NaN
11543  1546174800  2018-12-30 13:00:00   4930956        NaN  NaN  NaN
11544  1546178400  2018-12-30 14:00:00   4930956        NaN  NaN  NaN
11545  1546182000  2018-12-30 15:00:00   4930956        NaN  NaN  NaN
11546  1546185600  2018-12-30 16:00:00   4930956        NaN  NaN  NaN
11547  1546189200  2018-12-30 17:00:00   4930956        NaN  NaN  NaN
11548  1546192800  2018-12-30 18:00:00   4930956        NaN  NaN  NaN
11549  1546196400  2018-12-30 19:00:00   4930956        NaN  NaN  NaN
11550  1546200000  2018-12-30 20:00:00   4930956        NaN  NaN  NaN
11551  1546203600  2018-12-30 21:00:00   4930956        NaN  NaN  NaN
11552  1546207200  2018-12-30 22:00:00   4930956        NaN  NaN  NaN
11553  1546210800  2018-12-30 23:00:00   4930956        NaN  NaN  NaN
11554  1546214400  2018-12-31 00:00:00   4930956        NaN  NaN  NaN

             temp  temp_min  temp_max  pressure  ...  snow_1h  snow_3h  \
0      259.609984    256.15    262.15      1022  ...      NaN      NaN
1      258.769984    256.15    260.15      1022  ...      NaN      NaN
2      258.310000    256.15    260.15      1022  ...      NaN      NaN
3      257.769984    256.15    259.15      1022  ...      NaN      NaN
4      257.150000    255.15    259.15      1023  ...      NaN      NaN
5      256.850000    255.15    258.15      1023  ...      NaN      NaN
6      256.230016    254.15    258.15      1023  ...      NaN      NaN
7      255.770000    254.15    257.15      1023  ...      NaN      NaN
8      255.530000    254.15    257.15      1023  ...      NaN      NaN
9      255.230000    253.15    257.15      1023  ...      NaN      NaN
10     255.080000    253.15    256.15      1023  ...      NaN      NaN
11     255.070000    253.15    256.15      1023  ...      NaN      NaN
12     255.150000    253.15    256.15      1023  ...      NaN      NaN
13     255.240000    254.15    256.15      1024  ...      NaN      NaN
14     255.650000    254.15    257.15      1024  ...      NaN      NaN
15     256.230016    254.15    258.15      1024  ...      NaN      NaN
16     257.900000    255.15    260.15      1023  ...      NaN      NaN
17     259.640016    257.15    261.15      1023  ...      NaN      NaN
18     260.799984    257.15    262.15      1022  ...      NaN      NaN
19     261.560000    259.15    263.15      1022  ...      NaN      NaN
20     261.980016    259.15    263.15      1023  ...      NaN      NaN
21     261.829984    260.15    263.15      1023  ...      NaN      NaN
22     261.070000    259.15    262.15      1024  ...      NaN      NaN
23     260.239984    257.15    262.15      1025  ...      NaN      NaN
24     259.390016    256.15    261.15      1025  ...      NaN      NaN
25     258.620000    256.15    260.15      1025  ...      NaN      NaN
26     258.150000    256.15    260.15      1025  ...      NaN      NaN
27     257.570000    254.15    260.15      1025  ...      NaN      NaN
28     255.860000    251.15    259.15      1025  ...      NaN      NaN
29     255.540000    251.15    259.15      1024  ...      NaN      NaN
...           ...       ...       ...       ...  ...      ...      ...
11525  282.380000    279.85    283.75      1012  ...      NaN      NaN
11526  282.160000    279.85    283.15      1013  ...      NaN      NaN
11527  281.450000    281.45    281.45      1013  ...      NaN      NaN
11528  280.350000    280.35    280.35      1015  ...      NaN      NaN
11529  278.820000    276.45    279.85      1016  ...      NaN      NaN
11530  278.180000    275.35    279.25      1017  ...      NaN      NaN
11531  277.250000    274.85    279.25      1018  ...      NaN      NaN
11532  276.820000    274.85    278.15      1019  ...      NaN      NaN
11533  275.490000    273.75    276.45      1019  ...      NaN      NaN
11534  274.060000    272.05    275.95      1020  ...      NaN      NaN
11535  272.930000    271.45    274.85      1021  ...      NaN      NaN
11536  271.930000    270.35    273.75      1021  ...      NaN      NaN
11537  270.690000    269.25    272.55      1021  ...      NaN      NaN
11538  270.060000    268.75    272.05      1022  ...      NaN      NaN
11539  269.700000    268.75    271.45      1022  ...      NaN      NaN
11540  269.700000    268.75    271.45      1022  ...      NaN      NaN
11541  269.390000    268.15    270.95      1023  ...      NaN      NaN
11542  269.270000    267.55    270.95      1023  ...      NaN      NaN
11543  269.580000    268.15    270.95      1024  ...      NaN      NaN
11544  269.810000    268.15    271.45      1024  ...      NaN      NaN
11545  270.680000    269.25    272.05      1024  ...      NaN      NaN
11546  271.690000    269.85    273.15      1023  ...      NaN      NaN
11547  272.700000    270.95    274.25      1022  ...      NaN      NaN
11548  273.140000    272.05    274.85      1022  ...      NaN      NaN
11549  274.060000    272.55    275.95      1022  ...      NaN      NaN
11550  274.250000    273.15    276.45      1022  ...      NaN      NaN
11551  273.740000    272.05    275.35      1023  ...      NaN      NaN
11552  272.510000    270.95    274.25      1024  ...      NaN      NaN
11553  271.600000    270.35    273.15      1024  ...      NaN      NaN
11554  270.820000    269.85    273.15      1025  ...      NaN      NaN

       snow_24h  snow_today  clouds_all  weather_id  weather_main  \
0           NaN         NaN           1         800         Clear
1           NaN         NaN           1         800         Clear
2           NaN         NaN           1         800         Clear
3           NaN         NaN           1         800         Clear
4           NaN         NaN           1         800         Clear
5           NaN         NaN           1         800         Clear
6           NaN         NaN           1         800         Clear
7           NaN         NaN           1         800         Clear
8           NaN         NaN           1         800         Clear
9           NaN         NaN           1         800         Clear
10          NaN         NaN           1         800         Clear
11          NaN         NaN           1         800         Clear
12          NaN         NaN           1         800         Clear
13          NaN         NaN           1         800         Clear
14          NaN         NaN           1         800         Clear
15          NaN         NaN           1         800         Clear
16          NaN         NaN           1         800         Clear
17          NaN         NaN           1         800         Clear
18          NaN         NaN           1         800         Clear
19          NaN         NaN           1         800         Clear
20          NaN         NaN           1         800         Clear
21          NaN         NaN           1         800         Clear
22          NaN         NaN           1         800         Clear
23          NaN         NaN           1         800         Clear
24          NaN         NaN           1         800         Clear
25          NaN         NaN           1         800         Clear
26          NaN         NaN           1         800         Clear
27          NaN         NaN           1         800         Clear
28          NaN         NaN           1         800         Clear
29          NaN         NaN           1         800         Clear
...         ...         ...         ...         ...           ...
11525       NaN         NaN          75         803        Clouds
11526       NaN         NaN          75         803        Clouds
11527       NaN         NaN          40         802        Clouds
11528       NaN         NaN          75         803        Clouds
11529       NaN         NaN          75         803        Clouds
11530       NaN         NaN          20         801        Clouds
11531       NaN         NaN          75         803        Clouds
11532       NaN         NaN          75         803        Clouds
11533       NaN         NaN          20         801        Clouds
11534       NaN         NaN          20         801        Clouds
11535       NaN         NaN          40         802        Clouds
11536       NaN         NaN          20         801        Clouds
11537       NaN         NaN           1         800         Clear
11538       NaN         NaN          75         803        Clouds
11539       NaN         NaN          90         804        Clouds
11540       NaN         NaN          90         804        Clouds
11541       NaN         NaN          90         804        Clouds
11542       NaN         NaN          75         803        Clouds
11543       NaN         NaN          90         804        Clouds
11544       NaN         NaN          90         804        Clouds
11545       NaN         NaN          75         803        Clouds
11546       NaN         NaN          40         802        Clouds
11547       NaN         NaN          40         802        Clouds
11548       NaN         NaN          20         801        Clouds
11549       NaN         NaN          20         801        Clouds
11550       NaN         NaN          20         801        Clouds
11551       NaN         NaN          20         801        Clouds
11552       NaN         NaN          20         801        Clouds
11553       NaN         NaN           1         800         Clear
11554       NaN         NaN           1         800         Clear

       weather_description  weather_icon  avg_temp_f
0             sky is clear           01n     7.62797
1             sky is clear           01n     6.11597
2             sky is clear           01n       5.288
3             sky is clear           01n     4.31597
4             sky is clear           01n         3.2
5             sky is clear           01n        2.66
6             sky is clear           01n     1.54403
7             sky is clear           01n       0.716
8             sky is clear           01n       0.284
9             sky is clear           01n      -0.256
10            sky is clear           01n      -0.526
11            sky is clear           01n      -0.544
12            sky is clear           01n        -0.4
13            sky is clear           01d      -0.238
14            sky is clear           01d         0.5
15            sky is clear           01d     1.54403
16            sky is clear           01d        4.55
17            sky is clear           01d     7.68203
18            sky is clear           01d     9.76997
19            sky is clear           01d      11.138
20            sky is clear           01d      11.894
21            sky is clear           01d      11.624
22            sky is clear           01n      10.256
23            sky is clear           01n     8.76197
24            sky is clear           01n     7.23203
25            sky is clear           01n       5.846
26            sky is clear           01n           5
27            sky is clear           01n       3.956
28            sky is clear           01n       0.878
29            sky is clear           01n       0.302
...                    ...           ...         ...
11525        broken clouds           04d      48.614
11526        broken clouds           04d      48.218
11527     scattered clouds           03d       46.94
11528        broken clouds           04n       44.96
11529        broken clouds           04n      42.206
11530           few clouds           02n      41.054
11531        broken clouds           04n       39.38
11532        broken clouds           04n      38.606
11533           few clouds           02n      36.212
11534           few clouds           02n      33.638
11535     scattered clouds           03n      31.604
11536           few clouds           02n      29.804
11537         sky is clear           01n      27.572
11538        broken clouds           04n      26.438
11539      overcast clouds           04n       25.79
11540      overcast clouds           04n       25.79
11541      overcast clouds           04n      25.232
11542        broken clouds           04n      25.016
11543      overcast clouds           04d      25.574
11544      overcast clouds           04d      25.988
11545        broken clouds           04d      27.554
11546     scattered clouds           03d      29.372
11547     scattered clouds           03d       31.19
11548           few clouds           02d      31.982
11549           few clouds           02d      33.638
11550           few clouds           02d       33.98
11551           few clouds           02d      33.062
11552           few clouds           02n      30.848
11553         sky is clear           01n       29.21
11554         sky is clear           01n      27.806

[11555 rows x 29 columns]>

In [71]:
#removing duplicates from boston and portland data looking for unique data/time values in dt_iso
bdata = bdata.drop_duplicates(subset='dt_iso', keep='first')
#removing duplicates from portland
pdata = pdata.drop_duplicates(subset='dt_iso', keep='first')
pdata.count

<bound method DataFrame.count of                dt                dt_iso  city_id  city_name  lat  lon  \
0      1514764800  2018-01-01 00:00:00   4975802        NaN  NaN  NaN
1      1514768400  2018-01-01 01:00:00   4975802        NaN  NaN  NaN
2      1514772000  2018-01-01 02:00:00   4975802        NaN  NaN  NaN
3      1514775600  2018-01-01 03:00:00   4975802        NaN  NaN  NaN
4      1514779200  2018-01-01 04:00:00   4975802        NaN  NaN  NaN
5      1514782800  2018-01-01 05:00:00   4975802        NaN  NaN  NaN
6      1514786400  2018-01-01 06:00:00   4975802        NaN  NaN  NaN
7      1514790000  2018-01-01 07:00:00   4975802        NaN  NaN  NaN
8      1514793600  2018-01-01 08:00:00   4975802        NaN  NaN  NaN
9      1514797200  2018-01-01 09:00:00   4975802        NaN  NaN  NaN
10     1514800800  2018-01-01 10:00:00   4975802        NaN  NaN  NaN
11     1514804400  2018-01-01 11:00:00   4975802        NaN  NaN  NaN
12     1514808000  2018-01-01 12:00:00   4975802        NaN  NaN  NaN
13     1514811600  2018-01-01 13:00:00   4975802        NaN  NaN  NaN
14     1514815200  2018-01-01 14:00:00   4975802        NaN  NaN  NaN
15     1514818800  2018-01-01 15:00:00   4975802        NaN  NaN  NaN
16     1514822400  2018-01-01 16:00:00   4975802        NaN  NaN  NaN
17     1514826000  2018-01-01 17:00:00   4975802        NaN  NaN  NaN
18     1514829600  2018-01-01 18:00:00   4975802        NaN  NaN  NaN
19     1514833200  2018-01-01 19:00:00   4975802        NaN  NaN  NaN
20     1514836800  2018-01-01 20:00:00   4975802        NaN  NaN  NaN
21     1514840400  2018-01-01 21:00:00   4975802        NaN  NaN  NaN
22     1514844000  2018-01-01 22:00:00   4975802        NaN  NaN  NaN
23     1514847600  2018-01-01 23:00:00   4975802        NaN  NaN  NaN
24     1514851200  2018-01-02 00:00:00   4975802        NaN  NaN  NaN
25     1514854800  2018-01-02 01:00:00   4975802        NaN  NaN  NaN
26     1514858400  2018-01-02 02:00:00   4975802        NaN  NaN  NaN
27     1514862000  2018-01-02 03:00:00   4975802        NaN  NaN  NaN
28     1514865600  2018-01-02 04:00:00   4975802        NaN  NaN  NaN
29     1514869200  2018-01-02 05:00:00   4975802        NaN  NaN  NaN
...           ...                   ...      ...        ...  ...  ...
10712  1546110000  2018-12-29 19:00:00   4975802        NaN  NaN  NaN
10713  1546113600  2018-12-29 20:00:00   4975802        NaN  NaN  NaN
10714  1546117200  2018-12-29 21:00:00   4975802        NaN  NaN  NaN
10715  1546120800  2018-12-29 22:00:00   4975802        NaN  NaN  NaN
10716  1546124400  2018-12-29 23:00:00   4975802        NaN  NaN  NaN
10717  1546128000  2018-12-30 00:00:00   4975802        NaN  NaN  NaN
10718  1546131600  2018-12-30 01:00:00   4975802        NaN  NaN  NaN
10719  1546135200  2018-12-30 02:00:00   4975802        NaN  NaN  NaN
10720  1546138800  2018-12-30 03:00:00   4975802        NaN  NaN  NaN
10721  1546142400  2018-12-30 04:00:00   4975802        NaN  NaN  NaN
10722  1546146000  2018-12-30 05:00:00   4975802        NaN  NaN  NaN
10723  1546149600  2018-12-30 06:00:00   4975802        NaN  NaN  NaN
10724  1546153200  2018-12-30 07:00:00   4975802        NaN  NaN  NaN
10725  1546156800  2018-12-30 08:00:00   4975802        NaN  NaN  NaN
10726  1546160400  2018-12-30 09:00:00   4975802        NaN  NaN  NaN
10727  1546164000  2018-12-30 10:00:00   4975802        NaN  NaN  NaN
10728  1546167600  2018-12-30 11:00:00   4975802        NaN  NaN  NaN
10729  1546171200  2018-12-30 12:00:00   4975802        NaN  NaN  NaN
10730  1546174800  2018-12-30 13:00:00   4975802        NaN  NaN  NaN
10731  1546178400  2018-12-30 14:00:00   4975802        NaN  NaN  NaN
10732  1546182000  2018-12-30 15:00:00   4975802        NaN  NaN  NaN
10733  1546185600  2018-12-30 16:00:00   4975802        NaN  NaN  NaN
10734  1546189200  2018-12-30 17:00:00   4975802        NaN  NaN  NaN
10735  1546192800  2018-12-30 18:00:00   4975802        NaN  NaN  NaN
10736  1546196400  2018-12-30 19:00:00   4975802        NaN  NaN  NaN
10737  1546200000  2018-12-30 20:00:00   4975802        NaN  NaN  NaN
10738  1546203600  2018-12-30 21:00:00   4975802        NaN  NaN  NaN
10739  1546207200  2018-12-30 22:00:00   4975802        NaN  NaN  NaN
10740  1546210800  2018-12-30 23:00:00   4975802        NaN  NaN  NaN
10741  1546214400  2018-12-31 00:00:00   4975802        NaN  NaN  NaN

             temp    temp_min  temp_max  pressure  ...  snow_1h  snow_3h  \
0      255.620000  253.150000    257.15      1019  ...      NaN      NaN
1      254.260000  250.150000    256.15      1019  ...      NaN      NaN
2      255.140000  254.150000    256.15      1020  ...      NaN      NaN
3      254.140000  253.150000    255.15      1020  ...      NaN      NaN
4      253.730000  252.150000    255.15      1020  ...      NaN      NaN
5      253.530000  252.150000    254.15      1020  ...      NaN      NaN
6      252.110000  250.150000    253.15      1020  ...      NaN      NaN
7      249.040000  242.150000    252.15      1020  ...      NaN      NaN
8      248.720000  243.150000    252.15      1020  ...      NaN      NaN
9      250.100000  249.150000    252.15      1020  ...      NaN      NaN
10     249.530000  247.150000    252.15      1020  ...      NaN      NaN
11     249.510000  247.150000    251.15      1020  ...      NaN      NaN
12     246.200000  240.150000    251.15      1021  ...      NaN      NaN
13     244.840000  239.150000    251.15      1021  ...      NaN      NaN
14     246.640000  240.150000    255.15      1021  ...      NaN      NaN
15     251.720000  245.150000    257.15      1021  ...      NaN      NaN
16     255.580000  250.150000    259.15      1020  ...      NaN      NaN
17     257.280000  255.150000    260.15      1020  ...      NaN      NaN
18     258.959984  258.150000    259.15      1019  ...      NaN      NaN
19     259.650000  258.150000    261.15      1019  ...      NaN      NaN
20     259.829984  259.150000    261.15      1020  ...      NaN      NaN
21     259.500000  258.150000    260.15      1021  ...      NaN      NaN
22     258.160000  257.150000    259.15      1021  ...      NaN      NaN
23     256.799984  256.150000    258.15      1022  ...      NaN      NaN
24     255.980000  255.150000    257.15      1022  ...      NaN      NaN
25     255.470000  254.150000    256.15      1022  ...      NaN      NaN
26     254.920000  254.150000    256.15      1022  ...      NaN      NaN
27     254.340000  252.150000    255.15      1022  ...      NaN      NaN
28     253.750000  252.150000    255.15      1022  ...      NaN      NaN
29     251.400000  245.150000    255.15      1022  ...      NaN      NaN
...           ...         ...       ...       ...  ...      ...      ...
10712  280.740000  278.750000    282.55      1009  ...      NaN      NaN
10713  279.550000  277.550000    281.45      1010  ...      NaN      NaN
10714  278.330000  275.950000    280.35      1012  ...      NaN      NaN
10715  276.650000  274.850000    278.15      1013  ...      NaN      NaN
10716  275.330000  273.750000    276.45      1015  ...      NaN      NaN
10717  273.950000  272.550000    275.35      1016  ...      NaN      NaN
10718  272.770000  272.050000    273.75      1018  ...      NaN      NaN
10719  271.090000  270.350000    272.05      1018  ...      NaN      NaN
10720  269.990000  269.250000    270.95      1019  ...      NaN      NaN
10721  268.890000  267.550000    269.85      1020  ...      NaN      NaN
10722  268.020000  266.450000    269.25      1020  ...      NaN      NaN
10723  267.370000  265.950000    268.15      1021  ...      NaN      NaN
10724  267.010000  266.450000    267.55      1021  ...      NaN      NaN
10725  266.110000  265.350000    267.05      1021  ...      NaN      NaN
10726  265.890000  264.850000    267.05      1022  ...      NaN      NaN
10727  265.990000  264.850000    267.05      1021  ...      NaN      NaN
10728  265.480000  262.049984    267.05      1023  ...      NaN      NaN
10729  265.440000  262.550000    267.55      1023  ...      NaN      NaN
10730  265.720000  263.150000    267.55      1024  ...      NaN      NaN
10731  266.180000  264.250000    268.15      1024  ...      NaN      NaN
10732  266.480000  264.850000    268.75      1024  ...      NaN      NaN
10733  267.490000  265.350000    270.35      1023  ...      NaN      NaN
10734  268.480000  266.450000    271.45      1022  ...      NaN      NaN
10735  269.240000  267.050000    272.05      1022  ...      NaN      NaN
10736  269.960000  268.150000    272.05      1022  ...      NaN      NaN
10737  270.530000  269.250000    272.05      1023  ...      NaN      NaN
10738  270.300000  269.250000    270.95      1023  ...      NaN      NaN
10739  269.630000  268.750000    270.35      1024  ...      NaN      NaN
10740  268.000000  266.450000    269.25      1024  ...      NaN      NaN
10741  266.760000  264.850000    269.25      1024  ...      NaN      NaN

       snow_24h  snow_today  clouds_all  weather_id  weather_main  \
0           NaN         NaN           1         800         Clear
1           NaN         NaN           1         800         Clear
2           NaN         NaN           1         800         Clear
3           NaN         NaN           1         800         Clear
4           NaN         NaN           1         800         Clear
5           NaN         NaN           1         800         Clear
6           NaN         NaN           1         800         Clear
7           NaN         NaN           1         800         Clear
8           NaN         NaN           1         800         Clear
9           NaN         NaN           1         800         Clear
10          NaN         NaN           1         800         Clear
11          NaN         NaN           1         800         Clear
12          NaN         NaN           1         800         Clear
13          NaN         NaN           1         800         Clear
14          NaN         NaN           1         800         Clear
15          NaN         NaN           1         800         Clear
16          NaN         NaN           1         800         Clear
17          NaN         NaN           1         800         Clear
18          NaN         NaN           1         800         Clear
19          NaN         NaN           1         800         Clear
20          NaN         NaN           1         800         Clear
21          NaN         NaN           1         800         Clear
22          NaN         NaN           1         800         Clear
23          NaN         NaN           1         800         Clear
24          NaN         NaN           1         800         Clear
25          NaN         NaN           1         800         Clear
26          NaN         NaN           1         800         Clear
27          NaN         NaN           1         800         Clear
28          NaN         NaN           1         800         Clear
29          NaN         NaN           1         800         Clear
...         ...         ...         ...         ...           ...
10712       NaN         NaN          40         802        Clouds
10713       NaN         NaN          75         803        Clouds
10714       NaN         NaN          90         804        Clouds
10715       NaN         NaN          90         804        Clouds
10716       NaN         NaN          90         804        Clouds
10717       NaN         NaN          90         804        Clouds
10718       NaN         NaN          20         801        Clouds
10719       NaN         NaN           1         800         Clear
10720       NaN         NaN           1         800         Clear
10721       NaN         NaN           1         800         Clear
10722       NaN         NaN           1         800         Clear
10723       NaN         NaN           1         800         Clear
10724       NaN         NaN           1         800         Clear
10725       NaN         NaN           1         800         Clear
10726       NaN         NaN           1         800         Clear
10727       NaN         NaN           1         800         Clear
10728       NaN         NaN          20         801        Clouds
10729       NaN         NaN          40         802        Clouds
10730       NaN         NaN          75         803        Clouds
10731       NaN         NaN          90         804        Clouds
10732       NaN         NaN          90         804        Clouds
10733       NaN         NaN          90         804        Clouds
10734       NaN         NaN          20         801        Clouds
10735       NaN         NaN          20         801        Clouds
10736       NaN         NaN           1         800         Clear
10737       NaN         NaN           1         800         Clear
10738       NaN         NaN           1         800         Clear
10739       NaN         NaN           1         800         Clear
10740       NaN         NaN           1         800         Clear
10741       NaN         NaN          40         802        Clouds

       weather_description  weather_icon  avg_temp_f
0             sky is clear           01n       0.446
1             sky is clear           01n      -2.002
2             sky is clear           01n      -0.418
3             sky is clear           01n      -2.218
4             sky is clear           01n      -2.956
5             sky is clear           01n      -3.316
6             sky is clear           01n      -5.872
7             sky is clear           01n     -11.398
8             sky is clear           01n     -11.974
9             sky is clear           01n       -9.49
10            sky is clear           01n     -10.516
11            sky is clear           01n     -10.552
12            sky is clear           01n      -16.51
13            sky is clear           01d     -18.958
14            sky is clear           01d     -15.718
15            sky is clear           01d      -6.574
16            sky is clear           01d       0.374
17            sky is clear           01d       3.434
18            sky is clear           01d     6.45797
19            sky is clear           01d         7.7
20            sky is clear           01d     8.02397
21            sky is clear           01d        7.43
22            sky is clear           01n       5.018
23            sky is clear           01n     2.56997
24            sky is clear           01n       1.094
25            sky is clear           01n       0.176
26            sky is clear           01n      -0.814
27            sky is clear           01n      -1.858
28            sky is clear           01n       -2.92
29            sky is clear           01n       -7.15
...                    ...           ...         ...
10712     scattered clouds           03d      45.662
10713        broken clouds           04d       43.52
10714      overcast clouds           04d      41.324
10715      overcast clouds           04n        38.3
10716      overcast clouds           04n      35.924
10717      overcast clouds           04n       33.44
10718           few clouds           02n      31.316
10719         sky is clear           01n      28.292
10720         sky is clear           01n      26.312
10721         sky is clear           01n      24.332
10722         sky is clear           01n      22.766
10723         sky is clear           01n      21.596
10724         sky is clear           01n      20.948
10725         sky is clear           01n      19.328
10726         sky is clear           01n      18.932
10727         sky is clear           01n      19.112
10728           few clouds           02n      18.194
10729     scattered clouds           03n      18.122
10730        broken clouds           04d      18.626
10731      overcast clouds           04d      19.454
10732      overcast clouds           04d      19.994
10733      overcast clouds           04d      21.812
10734           few clouds           02d      23.594
10735           few clouds           02d      24.962
10736         sky is clear           01d      26.258
10737         sky is clear           01d      27.284
10738         sky is clear           01d       26.87
10739         sky is clear           01n      25.664
10740         sky is clear           01n       22.73
10741     scattered clouds           03n      20.498

[8737 rows x 29 columns]>

In [72]:
#with duplicates removed, appending the portland dataset to boston dataset
wdata = bdata.append([pdata])
wdata.count

<bound method DataFrame.count of                dt                dt_iso  city_id  city_name  lat  lon  \
0      1514764800  2018-01-01 00:00:00   4930956        NaN  NaN  NaN
1      1514768400  2018-01-01 01:00:00   4930956        NaN  NaN  NaN
2      1514772000  2018-01-01 02:00:00   4930956        NaN  NaN  NaN
3      1514775600  2018-01-01 03:00:00   4930956        NaN  NaN  NaN
4      1514779200  2018-01-01 04:00:00   4930956        NaN  NaN  NaN
5      1514782800  2018-01-01 05:00:00   4930956        NaN  NaN  NaN
6      1514786400  2018-01-01 06:00:00   4930956        NaN  NaN  NaN
7      1514790000  2018-01-01 07:00:00   4930956        NaN  NaN  NaN
8      1514793600  2018-01-01 08:00:00   4930956        NaN  NaN  NaN
9      1514797200  2018-01-01 09:00:00   4930956        NaN  NaN  NaN
10     1514800800  2018-01-01 10:00:00   4930956        NaN  NaN  NaN
11     1514804400  2018-01-01 11:00:00   4930956        NaN  NaN  NaN
12     1514808000  2018-01-01 12:00:00   4930956        NaN  NaN  NaN
13     1514811600  2018-01-01 13:00:00   4930956        NaN  NaN  NaN
14     1514815200  2018-01-01 14:00:00   4930956        NaN  NaN  NaN
15     1514818800  2018-01-01 15:00:00   4930956        NaN  NaN  NaN
16     1514822400  2018-01-01 16:00:00   4930956        NaN  NaN  NaN
17     1514826000  2018-01-01 17:00:00   4930956        NaN  NaN  NaN
18     1514829600  2018-01-01 18:00:00   4930956        NaN  NaN  NaN
19     1514833200  2018-01-01 19:00:00   4930956        NaN  NaN  NaN
20     1514836800  2018-01-01 20:00:00   4930956        NaN  NaN  NaN
21     1514840400  2018-01-01 21:00:00   4930956        NaN  NaN  NaN
22     1514844000  2018-01-01 22:00:00   4930956        NaN  NaN  NaN
23     1514847600  2018-01-01 23:00:00   4930956        NaN  NaN  NaN
24     1514851200  2018-01-02 00:00:00   4930956        NaN  NaN  NaN
25     1514854800  2018-01-02 01:00:00   4930956        NaN  NaN  NaN
26     1514858400  2018-01-02 02:00:00   4930956        NaN  NaN  NaN
27     1514862000  2018-01-02 03:00:00   4930956        NaN  NaN  NaN
28     1514865600  2018-01-02 04:00:00   4930956        NaN  NaN  NaN
29     1514869200  2018-01-02 05:00:00   4930956        NaN  NaN  NaN
...           ...                   ...      ...        ...  ...  ...
10712  1546110000  2018-12-29 19:00:00   4975802        NaN  NaN  NaN
10713  1546113600  2018-12-29 20:00:00   4975802        NaN  NaN  NaN
10714  1546117200  2018-12-29 21:00:00   4975802        NaN  NaN  NaN
10715  1546120800  2018-12-29 22:00:00   4975802        NaN  NaN  NaN
10716  1546124400  2018-12-29 23:00:00   4975802        NaN  NaN  NaN
10717  1546128000  2018-12-30 00:00:00   4975802        NaN  NaN  NaN
10718  1546131600  2018-12-30 01:00:00   4975802        NaN  NaN  NaN
10719  1546135200  2018-12-30 02:00:00   4975802        NaN  NaN  NaN
10720  1546138800  2018-12-30 03:00:00   4975802        NaN  NaN  NaN
10721  1546142400  2018-12-30 04:00:00   4975802        NaN  NaN  NaN
10722  1546146000  2018-12-30 05:00:00   4975802        NaN  NaN  NaN
10723  1546149600  2018-12-30 06:00:00   4975802        NaN  NaN  NaN
10724  1546153200  2018-12-30 07:00:00   4975802        NaN  NaN  NaN
10725  1546156800  2018-12-30 08:00:00   4975802        NaN  NaN  NaN
10726  1546160400  2018-12-30 09:00:00   4975802        NaN  NaN  NaN
10727  1546164000  2018-12-30 10:00:00   4975802        NaN  NaN  NaN
10728  1546167600  2018-12-30 11:00:00   4975802        NaN  NaN  NaN
10729  1546171200  2018-12-30 12:00:00   4975802        NaN  NaN  NaN
10730  1546174800  2018-12-30 13:00:00   4975802        NaN  NaN  NaN
10731  1546178400  2018-12-30 14:00:00   4975802        NaN  NaN  NaN
10732  1546182000  2018-12-30 15:00:00   4975802        NaN  NaN  NaN
10733  1546185600  2018-12-30 16:00:00   4975802        NaN  NaN  NaN
10734  1546189200  2018-12-30 17:00:00   4975802        NaN  NaN  NaN
10735  1546192800  2018-12-30 18:00:00   4975802        NaN  NaN  NaN
10736  1546196400  2018-12-30 19:00:00   4975802        NaN  NaN  NaN
10737  1546200000  2018-12-30 20:00:00   4975802        NaN  NaN  NaN
10738  1546203600  2018-12-30 21:00:00   4975802        NaN  NaN  NaN
10739  1546207200  2018-12-30 22:00:00   4975802        NaN  NaN  NaN
10740  1546210800  2018-12-30 23:00:00   4975802        NaN  NaN  NaN
10741  1546214400  2018-12-31 00:00:00   4975802        NaN  NaN  NaN

             temp    temp_min  temp_max  pressure  ...  snow_1h  snow_3h  \
0      259.609984  256.150000    262.15      1022  ...      NaN      NaN
1      258.769984  256.150000    260.15      1022  ...      NaN      NaN
2      258.310000  256.150000    260.15      1022  ...      NaN      NaN
3      257.769984  256.150000    259.15      1022  ...      NaN      NaN
4      257.150000  255.150000    259.15      1023  ...      NaN      NaN
5      256.850000  255.150000    258.15      1023  ...      NaN      NaN
6      256.230016  254.150000    258.15      1023  ...      NaN      NaN
7      255.770000  254.150000    257.15      1023  ...      NaN      NaN
8      255.530000  254.150000    257.15      1023  ...      NaN      NaN
9      255.230000  253.150000    257.15      1023  ...      NaN      NaN
10     255.080000  253.150000    256.15      1023  ...      NaN      NaN
11     255.070000  253.150000    256.15      1023  ...      NaN      NaN
12     255.150000  253.150000    256.15      1023  ...      NaN      NaN
13     255.240000  254.150000    256.15      1024  ...      NaN      NaN
14     255.650000  254.150000    257.15      1024  ...      NaN      NaN
15     256.230016  254.150000    258.15      1024  ...      NaN      NaN
16     257.900000  255.150000    260.15      1023  ...      NaN      NaN
17     259.640016  257.150000    261.15      1023  ...      NaN      NaN
18     260.799984  257.150000    262.15      1022  ...      NaN      NaN
19     261.560000  259.150000    263.15      1022  ...      NaN      NaN
20     261.980016  259.150000    263.15      1023  ...      NaN      NaN
21     261.829984  260.150000    263.15      1023  ...      NaN      NaN
22     261.070000  259.150000    262.15      1024  ...      NaN      NaN
23     260.239984  257.150000    262.15      1025  ...      NaN      NaN
24     259.390016  256.150000    261.15      1025  ...      NaN      NaN
25     258.620000  256.150000    260.15      1025  ...      NaN      NaN
26     258.150000  256.150000    260.15      1025  ...      NaN      NaN
27     257.570000  254.150000    260.15      1025  ...      NaN      NaN
28     255.860000  251.150000    259.15      1025  ...      NaN      NaN
29     255.540000  251.150000    259.15      1024  ...      NaN      NaN
...           ...         ...       ...       ...  ...      ...      ...
10712  280.740000  278.750000    282.55      1009  ...      NaN      NaN
10713  279.550000  277.550000    281.45      1010  ...      NaN      NaN
10714  278.330000  275.950000    280.35      1012  ...      NaN      NaN
10715  276.650000  274.850000    278.15      1013  ...      NaN      NaN
10716  275.330000  273.750000    276.45      1015  ...      NaN      NaN
10717  273.950000  272.550000    275.35      1016  ...      NaN      NaN
10718  272.770000  272.050000    273.75      1018  ...      NaN      NaN
10719  271.090000  270.350000    272.05      1018  ...      NaN      NaN
10720  269.990000  269.250000    270.95      1019  ...      NaN      NaN
10721  268.890000  267.550000    269.85      1020  ...      NaN      NaN
10722  268.020000  266.450000    269.25      1020  ...      NaN      NaN
10723  267.370000  265.950000    268.15      1021  ...      NaN      NaN
10724  267.010000  266.450000    267.55      1021  ...      NaN      NaN
10725  266.110000  265.350000    267.05      1021  ...      NaN      NaN
10726  265.890000  264.850000    267.05      1022  ...      NaN      NaN
10727  265.990000  264.850000    267.05      1021  ...      NaN      NaN
10728  265.480000  262.049984    267.05      1023  ...      NaN      NaN
10729  265.440000  262.550000    267.55      1023  ...      NaN      NaN
10730  265.720000  263.150000    267.55      1024  ...      NaN      NaN
10731  266.180000  264.250000    268.15      1024  ...      NaN      NaN
10732  266.480000  264.850000    268.75      1024  ...      NaN      NaN
10733  267.490000  265.350000    270.35      1023  ...      NaN      NaN
10734  268.480000  266.450000    271.45      1022  ...      NaN      NaN
10735  269.240000  267.050000    272.05      1022  ...      NaN      NaN
10736  269.960000  268.150000    272.05      1022  ...      NaN      NaN
10737  270.530000  269.250000    272.05      1023  ...      NaN      NaN
10738  270.300000  269.250000    270.95      1023  ...      NaN      NaN
10739  269.630000  268.750000    270.35      1024  ...      NaN      NaN
10740  268.000000  266.450000    269.25      1024  ...      NaN      NaN
10741  266.760000  264.850000    269.25      1024  ...      NaN      NaN

       snow_24h  snow_today  clouds_all  weather_id  weather_main  \
0           NaN         NaN           1         800         Clear
1           NaN         NaN           1         800         Clear
2           NaN         NaN           1         800         Clear
3           NaN         NaN           1         800         Clear
4           NaN         NaN           1         800         Clear
5           NaN         NaN           1         800         Clear
6           NaN         NaN           1         800         Clear
7           NaN         NaN           1         800         Clear
8           NaN         NaN           1         800         Clear
9           NaN         NaN           1         800         Clear
10          NaN         NaN           1         800         Clear
11          NaN         NaN           1         800         Clear
12          NaN         NaN           1         800         Clear
13          NaN         NaN           1         800         Clear
14          NaN         NaN           1         800         Clear
15          NaN         NaN           1         800         Clear
16          NaN         NaN           1         800         Clear
17          NaN         NaN           1         800         Clear
18          NaN         NaN           1         800         Clear
19          NaN         NaN           1         800         Clear
20          NaN         NaN           1         800         Clear
21          NaN         NaN           1         800         Clear
22          NaN         NaN           1         800         Clear
23          NaN         NaN           1         800         Clear
24          NaN         NaN           1         800         Clear
25          NaN         NaN           1         800         Clear
26          NaN         NaN           1         800         Clear
27          NaN         NaN           1         800         Clear
28          NaN         NaN           1         800         Clear
29          NaN         NaN           1         800         Clear
...         ...         ...         ...         ...           ...
10712       NaN         NaN          40         802        Clouds
10713       NaN         NaN          75         803        Clouds
10714       NaN         NaN          90         804        Clouds
10715       NaN         NaN          90         804        Clouds
10716       NaN         NaN          90         804        Clouds
10717       NaN         NaN          90         804        Clouds
10718       NaN         NaN          20         801        Clouds
10719       NaN         NaN           1         800         Clear
10720       NaN         NaN           1         800         Clear
10721       NaN         NaN           1         800         Clear
10722       NaN         NaN           1         800         Clear
10723       NaN         NaN           1         800         Clear
10724       NaN         NaN           1         800         Clear
10725       NaN         NaN           1         800         Clear
10726       NaN         NaN           1         800         Clear
10727       NaN         NaN           1         800         Clear
10728       NaN         NaN          20         801        Clouds
10729       NaN         NaN          40         802        Clouds
10730       NaN         NaN          75         803        Clouds
10731       NaN         NaN          90         804        Clouds
10732       NaN         NaN          90         804        Clouds
10733       NaN         NaN          90         804        Clouds
10734       NaN         NaN          20         801        Clouds
10735       NaN         NaN          20         801        Clouds
10736       NaN         NaN           1         800         Clear
10737       NaN         NaN           1         800         Clear
10738       NaN         NaN           1         800         Clear
10739       NaN         NaN           1         800         Clear
10740       NaN         NaN           1         800         Clear
10741       NaN         NaN          40         802        Clouds

       weather_description  weather_icon  avg_temp_f
0             sky is clear           01n     7.62797
1             sky is clear           01n     6.11597
2             sky is clear           01n       5.288
3             sky is clear           01n     4.31597
4             sky is clear           01n         3.2
5             sky is clear           01n        2.66
6             sky is clear           01n     1.54403
7             sky is clear           01n       0.716
8             sky is clear           01n       0.284
9             sky is clear           01n      -0.256
10            sky is clear           01n      -0.526
11            sky is clear           01n      -0.544
12            sky is clear           01n        -0.4
13            sky is clear           01d      -0.238
14            sky is clear           01d         0.5
15            sky is clear           01d     1.54403
16            sky is clear           01d        4.55
17            sky is clear           01d     7.68203
18            sky is clear           01d     9.76997
19            sky is clear           01d      11.138
20            sky is clear           01d      11.894
21            sky is clear           01d      11.624
22            sky is clear           01n      10.256
23            sky is clear           01n     8.76197
24            sky is clear           01n     7.23203
25            sky is clear           01n       5.846
26            sky is clear           01n           5
27            sky is clear           01n       3.956
28            sky is clear           01n       0.878
29            sky is clear           01n       0.302
...                    ...           ...         ...
10712     scattered clouds           03d      45.662
10713        broken clouds           04d       43.52
10714      overcast clouds           04d      41.324
10715      overcast clouds           04n        38.3
10716      overcast clouds           04n      35.924
10717      overcast clouds           04n       33.44
10718           few clouds           02n      31.316
10719         sky is clear           01n      28.292
10720         sky is clear           01n      26.312
10721         sky is clear           01n      24.332
10722         sky is clear           01n      22.766
10723         sky is clear           01n      21.596
10724         sky is clear           01n      20.948
10725         sky is clear           01n      19.328
10726         sky is clear           01n      18.932
10727         sky is clear           01n      19.112
10728           few clouds           02n      18.194
10729     scattered clouds           03n      18.122
10730        broken clouds           04d      18.626
10731      overcast clouds           04d      19.454
10732      overcast clouds           04d      19.994
10733      overcast clouds           04d      21.812
10734           few clouds           02d      23.594
10735           few clouds           02d      24.962
10736         sky is clear           01d      26.258
10737         sky is clear           01d      27.284
10738         sky is clear           01d       26.87
10739         sky is clear           01n      25.664
10740         sky is clear           01n       22.73
10741     scattered clouds           03n      20.498

[17474 rows x 29 columns]>

In [73]:
#removing unneeded columns
columns = ['lat','lon','sea_level','grnd_level','wind_deg',
          'rain_1h','rain_3h','rain_24h','rain_today','snow_1h',
          'snow_3h','snow_24h','snow_today']
wdata.drop(columns, inplace=True, axis=1)
wdata.head()

,dt,dt_iso,city_id,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,clouds_all,weather_id,weather_main,weather_description,weather_icon,avg_temp_f
0,1514764800,2018-01-01 00:00:00,4930956,NaN,259.609984,256.15,262.15,1022,59,3,1,800,Clear,sky is clear,01n,7.62797
1,1514768400,2018-01-01 01:00:00,4930956,NaN,258.769984,256.15,260.15,1022,59,5,1,800,Clear,sky is clear,01n,6.11597
2,1514772000,2018-01-01 02:00:00,4930956,NaN,258.310000,256.15,260.15,1022,59,4,1,800,Clear,sky is clear,01n,5.288
3,1514775600,2018-01-01 03:00:00,4930956,NaN,257.769984,256.15,259.15,1022,64,2,1,800,Clear,sky is clear,01n,4.31597
4,1514779200,2018-01-01 04:00:00,4930956,NaN,257.150000,255.15,259.15,1023,64,3,1,800,Clear,sky is clear,01n,3.2

In [75]:
export_csv = wdata.to_csv('weather_data.csv')